@if(order) {
<div *ngIf="order.status == 'WAIT_FOR_SELLER_ACCEPT'">
	<h3 class="font-bold m-0 text-xl my-4 text-700">
		Заявка на покупку Luxon
		<p-tag icon="pi pi-stopwatch" value="Ждем продавца" />
	</h3>

	<div class="grid">
		<div class="col-12 lg:col-6">
			<h3 class="m-0 text-xl text-700 mb-2">
				Ваша заявка передана продавцу, ожидаем подтверждение от него
			</h3>
			<h3 class="text-xl text-yellow-600 my-3">02:45</h3>
			<p class="text-xl font-light mb-3">
				У продавца есть 3 минуты, чтобы подтвердить готовность принять вашу
				заявку и оплату от вас.
			</p>
			<p class="text-xl font-light mb-3">
				Если этого не произойдет, то заявка отменится и вы сможете откликнуться
				на заявку другого продавца.
			</p>

			<button (click)="cancel()" type="button" severity="danger" size="small" pButton
				class="w-full justify-content-center column-gap-2">
				<i class="pi pi-times-circle"></i>
				Отменить заявку
			</button>
		</div>
		<div class="col-12 lg:col-6">
			<div class="grid bg-primary-100 p-2 border-round">
				<div class="col-12 sm:col-6">
					<p class="m-0 mb-2 text-sm text-500">
						Nº заявки: <span class="text-700">{{id}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Курс и валюта: <span class="text-700">{{order.currencyName}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Продавец: <span class="text-700">{{order.sellerFullName}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Банк: <span class="text-700">{{order.bankName}}</span>
					</p>
				</div>
				<div class="col-12 sm:col-6">
					<!-- <p class="m-0 mb-2 text-sm text-500">
						Nº отклика: <span class="text-700">{{order.sellRequestId}}</span>
					</p> -->
					<p class="m-0 mb-2 text-sm text-500">
						Рум / кошелек: <span class="text-700">{{order.pokerRoomName}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Аккаунт: <span class="text-700">{{order.pokerRoomNickname}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Сумма: <span class="text-700">{{order.wantToBuyUSD}} USD</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="order.status == 'EXPIRED' || order.status == 'CANCELED'">
	<h3 class="font-bold m-0 text-xl my-4 text-700">
		Заявка на покупку Luxon
		<p-tag severity="danger" icon="pi pi-times-circle" value="Отменена" />
	</h3>
	<div class="grid">
		<div class="col-12 lg:col-6">
			<h3 class="m-0 text-lg mb-3">Вы отменили заявку</h3>
			<p class="m-0 text-lg font-light">
				Если произошла какая-либо ошибка, то напишите в техническую поддержку и
				мы оперативно все решим.
			</p>
		</div>
		<div class="col-12 lg:col-6">
			<div class="chat shadow-1 border-round bg-white">
				<div class="flex align-items-center justify-content-between p-3 border-bottom-1 border-yellow-100">
					<h3 class="m-0 text-yellow-600 text-lg">Чат с контрагентом</h3>
					<b class="flex align-content-center column-gap-1">
						<span class="block line-height-1 border-circle bg-green-500 w-1rem h-1rem"></span>
						<span class="block font-semibold text-sm uppercase text-yellow-600 line-height-1">1D8938</span>
					</b>
				</div>
				<div class="p-3">
					<div class="overflow-y-scroll w-full" [style]="{ height: '350px' }">
						<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
							<i class="pi pi-exclamation-triangle text-yellow-600"></i>
							<p class="m-0 text-yellow-600 text-sm">
								Правила безопасности в чате: <br />
								1. Чат предназначен для общения с продавцом или покупателем
								<br />
								2. Модератор никогда не попросит вас подтвердить заявку <br />
								3. Подтверждайте заявку только после поступления всех средств на
								ваш счёт
							</p>
						</div>
						<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
							<i class="pi pi-exclamation-triangle text-yellow-600"></i>
							<p class="m-0 text-yellow-600 text-sm">
								Пользователь создал отклик С1732789 на заявку R535743
							</p>
						</div>
						<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
							<i class="pi pi-exclamation-triangle text-yellow-600"></i>
							<p class="m-0 text-yellow-600 text-sm">
								Пользователь подтвердил заявку R535743-C1732789.
							</p>
						</div>
						<div class="mb-2">
							<p class="m-0 bg-yellow-200">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
								optio sit recusandae sequi inventore ea atque doloremque! Nihil
								voluptates quo quam pariatur modi, ducimus atque earum officia,
								minima magnam corrupti?
							</p>
						</div>
					</div>
				</div>
				<div class="p-3 border-top-1 border-yellow-100">
					<div class="flex column-gap-2">
						<button pButton type="button" class="border-yellow-300" outlined="true">
							<i class="pi pi-paperclip text-lg"></i>
						</button>
						<p-inputGroup>
							<input type="text" pInputText size="small" class="border-yellow-300"
								placeholder="Напишите сообщение..." />
							<button type="button" pButton class="bg-primary border-left-none border-none">
								<i class="pi pi-send block"></i>
							</button>
						</p-inputGroup>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="true">
	<ng-container *ngIf="order.status =='WAIT_FOR_BUYER_PAY'">
		<h3 class="font-bold m-0 text-xl my-4 text-700">
			Заявка на покупку Luxon
			<p-tag severity="secondary" icon="pi pi-send" *ngIf="!transactions" value="Сделайте оплату" />
			<p-tag icon="pi pi-bolt" severity="warning" value="Проверяем оплату" />
			<p-tag icon="pi pi-bolt" value="Делаем перевод" />
		</h3>
		<div class="grid">
			<div class="col-12 lg:col-6">
				<h3 class="m-0 text-xl text-700 mb-2">
					Для оплаты заявки сделайте перевод продавцу:
				</h3>
				<div class="my-3 p-3 bg-primary-100 border-round">
					<div *ngIf="!transfer">
						<div class="mb-3">
							<h2 class="m-0 text-lg text-primary-600 mb-1 text-700">
								Внимание!
							</h2>
							<p class="text-700 m-0">
								Вы должны сделать перевод по СБП именно в этот банк:
							</p>
						</div>
						<div class="mb-3">
							<h2 class="m-0 text-lg text-primary-600 mb-1 text-700">
								Озон (Еком Банк)
							</h2>
							<p class="text-700 m-0">
								Выбор другого банка приведёт к потере денег!
							</p>
						</div>
						<button (click)="[(transfer = true)]" severity="success" type="button" pButton size="small"
							class="w-full justify-content-center column-gap-2">
							<i class="pi pi-check-circle"></i>
							Понятнр, показать реквизиты
						</button>
					</div>
					<div *ngIf="transfer">
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">Банк:</label>
							<h3 class="text-primary-600 text-lg m-0">
								СБП (Озон (Еком Банк))
							</h3>
						</div>
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">ФИО получателя:</label>
							<h3 class="text-primary-600 text-lg m-0">Ахмед Ч</h3>
						</div>
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">Номер телефона:</label>
							<h3 class="text-primary-600 text-lg m-0">8920 2012 050</h3>
						</div>
						<div>
							<label class="mb-2 text-500 text-sm">Сумма:</label>
							<h3 class="text-primary-600 text-lg m-0">813 RUB</h3>
						</div>
					</div>
				</div>
				<div>
					<div class="mb-3">
						<label class="text-500 mb-1 block text-sm">ФИО отправителя:*</label>
						<input type="text" [(ngModel)]="bayerFullName" pInputText placeholder="Иванов Иван Иванович" />
					</div>
					<div class="mb-3">
						<label class="text-500 mb-1 block text-sm">Последние 4 символа вашего номера телефона:*</label>
						<input type="text" [(ngModel)]="lastFourDig" pInputText placeholder="1234" />
					</div>
					<div *ngIf="!transactions">
						<button type="button" (click)="request = true" severity="success" pButton
							class="w-full justify-content-center mb-2 column-gap-2">
							<i class="pi pi-check-circle"></i>
							Отправил
						</button>
						<button (click)="visible = true" type="button" severity="danger" pButton
							class="w-full justify-content-center column-gap-2">
							<i class="pi pi-times-circle"></i>
							Отменить
						</button>
					</div>
					<div *ngIf="transactions">
						<h3 class="m-0 text-700 mb-3 font-semibold">
							После подтверждения, мы перечислим 7.6 USD на ваш аккаунт ПокерОК.
						</h3>
						<button type="button" severity="danger" pButton class="w-full justify-content-center column-gap-2">
							<i class="pi pi-times-circle"></i>
							Отменить заявку
						</button>
					</div>
				</div>
			</div>
			<div class="col-12 lg:col-6">
				<div class="chat shadow-1 border-round bg-white" [ngClass]="transfer ? '' : 'disabled'">
					<div class="flex align-items-center justify-content-between p-3 border-bottom-1 border-yellow-100">
						<h3 class="m-0 text-yellow-600 text-lg">Чат с контрагентом</h3>
						<b class="flex align-content-center column-gap-1">
							<span class="block line-height-1 border-circle bg-green-500 w-1rem h-1rem"></span>
							<span class="block font-semibold text-sm uppercase text-yellow-600 line-height-1">1D8938</span>
						</b>
					</div>
					<div class="p-3">
						<div class="overflow-y-scroll w-full" [style]="{ height: '350px' }">
							<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
								<i class="pi pi-exclamation-triangle text-yellow-600"></i>
								<p class="m-0 text-yellow-600 text-sm">
									Правила безопасности в чате: <br />
									1. Чат предназначен для общения с продавцом или покупателем
									<br />
									2. Модератор никогда не попросит вас подтвердить заявку <br />
									3. Подтверждайте заявку только после поступления всех средств
									на ваш счёт
								</p>
							</div>
							<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
								<i class="pi pi-exclamation-triangle text-yellow-600"></i>
								<p class="m-0 text-yellow-600 text-sm">
									Пользователь создал отклик С1732789 на заявку R535743
								</p>
							</div>
							<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
								<i class="pi pi-exclamation-triangle text-yellow-600"></i>
								<p class="m-0 text-yellow-600 text-sm">
									Пользователь подтвердил заявку R535743-C1732789.
								</p>
							</div>
							<div class="mb-2 admin mr-auto" style="width: 50%">
								<p class="m-0 text-yellow-700 bg-yellow-100 p-2 text-sm border-round">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit.
									Fugit, optio sit recusandae sequi inventore ea atque
									doloremque! Nihil voluptates quo quam pariatur modi, ducimus
									atque earum officia, minima magnam corrupti?
								</p>
								<span class="block text-left mt-1 text-500 text-xs">11:01 AM | Today
								</span>
							</div>
							<div class="mb-2 user ml-auto" style="width: 50%">
								<p class="m-0 text-yellow-700 bg-yellow-200 p-2 text-sm border-round">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit.
									Fugit, optio sit recusandae sequi inventore ea atque
									doloremque! Nihil voluptates quo quam pariatur modi, ducimus
									atque earum officia, minima magnam corrupti?
								</p>
								<span class="block text-right mt-1 text-500 text-xs">11:01 AM | Today
								</span>
							</div>
						</div>
					</div>
					<div class="p-3 border-top-1 border-yellow-100">
						<div class="flex column-gap-2">
							<p-inputGroup>
								<button pButton type="button" class="border-yellow-300 border-right-none" outlined="true">
									<i class="pi pi-paperclip text-lg text-primary"></i>
								</button>
								<input type="text" pInputText size="small" class="border-yellow-300"
									placeholder="Напишите сообщение..." />
								<button type="button" pButton severity="primary" class="border-left-none border-none">
									<i class="pi pi-send block"></i>
								</button>
							</p-inputGroup>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="order.status =='BUYER_PAYED' || order.status == 'WAIT_FOR_ADMIN_MOVE'">
		<div class="mt-8">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку ПокерОК
				<p-tag icon="pi pi-bolt" value="Делаем перевод" />
			</h3>
			<div class="grid">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-xl text-700 mb-2">
						Контрагент подтвердил получение оплаты от вас, ожидайте перевод
					</h3>
					<p class="m-0 font-light text-lg">
						В течение нескольких минут мы перечислим вам 7.6 USD на ваш аккаунт
						ПокерОК.
					</p>
				</div>
				<div class="col-12 lg:col-6">
					<div class="chat shadow-1 border-round bg-white">
						<div class="flex align-items-center justify-content-between p-3 border-bottom-1 border-yellow-100">
							<h3 class="m-0 text-yellow-600 text-lg">Чат с контрагентом</h3>
							<b class="flex align-content-center column-gap-1">
								<span class="block line-height-1 border-circle bg-green-500 w-1rem h-1rem"></span>
								<span class="block font-semibold text-sm uppercase text-yellow-600 line-height-1">1D8938</span>
							</b>
						</div>
						<div class="p-3">
							<div class="overflow-y-scroll w-full" [style]="{ height: '350px' }">
								<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-exclamation-triangle text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										Правила безопасности в чате: <br />
										1. Чат предназначен для общения с продавцом или покупателем
										<br />
										2. Модератор никогда не попросит вас подтвердить заявку <br />
										3. Подтверждайте заявку только после поступления всех средств
										на ваш счёт
									</p>
								</div>
								<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-exclamation-triangle text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										Пользователь создал отклик С1732789 на заявку R535743
									</p>
								</div>
								<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-exclamation-triangle text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										Пользователь подтвердил заявку R535743-C1732789.
									</p>
								</div>
								<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-exclamation-triangle text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										Пользователь отказался от заявки R535743-C1732789.
									</p>
								</div>
							</div>
						</div>
						<div class="p-3 border-top-1 border-yellow-100">
							<div class="flex column-gap-2">
								<button pButton type="button" class="border-yellow-300" outlined="true">
									<i class="pi pi-paperclip text-lg"></i>
								</button>
								<p-inputGroup>
									<input type="text" pInputText size="small" class="border-yellow-300"
										placeholder="Напишите сообщение..." />
									<button type="button" pButton class="bg-primary border-left-none border-none">
										<i class="pi pi-send block"></i>
									</button>
								</p-inputGroup>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>


	<ng-container *ngIf="order.status =='COMPLETED'">
		<div class="mt-8">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку ПокерОК
				<p-tag icon="pi pi-check-circle" severity="success" value="Выполнена" />
			</h3>
			<div class="grid">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-xl text-700 mb-2">Заявка успешно выполнена</h3>
					<p class="m-0 font-light text-lg">
						Вы получили 7.6 USD на ваш аккаунт ПокерОК.
					</p>
				</div>
				<div class="col-12 lg:col-6">
					<div class="chat shadow-1 disabled border-round bg-white">
						<div class="flex align-items-center justify-content-between p-3 border-bottom-1 border-yellow-100">
							<h3 class="m-0 text-yellow-600 text-lg">Чат с контрагентом</h3>
							<b class="flex align-content-center column-gap-1">
								<span class="block line-height-1 border-circle bg-green-500 w-1rem h-1rem"></span>
								<span class="block font-semibold text-sm uppercase text-yellow-600 line-height-1">1D8938</span>
							</b>
						</div>
						<div class="p-3">
							<div class="overflow-y-scroll w-full" [style]="{ height: '350px' }">
								<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-exclamation-triangle text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										Правила безопасности в чате: <br />
										1. Чат предназначен для общения с продавцом или покупателем
										<br />
										2. Модератор никогда не попросит вас подтвердить заявку <br />
										3. Подтверждайте заявку только после поступления всех средств
										на ваш счёт
									</p>
								</div>
								<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-exclamation-triangle text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										Пользователь создал отклик С1732789 на заявку R535743
									</p>
								</div>
								<div class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-exclamation-triangle text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										Пользователь подтвердил заявку R535743-C1732789.
									</p>
								</div>
							</div>
						</div>
						<div class="p-3 border-top-1 border-yellow-100">
							<div class="flex column-gap-2">
								<button pButton type="button" class="border-yellow-300" outlined="true">
									<i class="pi pi-paperclip text-lg"></i>
								</button>
								<p-inputGroup>
									<input type="text" pInputText size="small" class="border-yellow-300"
										placeholder="Напишите сообщение..." />
									<button type="button" pButton class="bg-primary border-left-none border-none">
										<i class="pi pi-send block"></i>
									</button>
								</p-inputGroup>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
946039222
	<p-dialog header="Подтверждение операций" [modal]="true" [(visible)]="request" [style]="{ width: '25rem' }">
		<p class="m-0 font-light text-lg">
			Вы подтверждаете, что перевели указанную сумму в полном объеме и на
			реквизиты, которые указаны?
		</p>
		<div class="flex mt-3 column-gap-2">
			<button type="button" class="w-full justify-content-center column-gap-2" (click)="request = false" pButton
				severity="danger">
				<i class="pi pi-times-circle"></i>
				Нет
			</button>
			<button (click)="payed(); request = false;" type="button" class="w-full justify-content-center column-gap-2"
				pButton severity="success">
				<i class="pi pi-check-circle"></i>
				Да
			</button>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
		<h3 class="text-center text-xl font-light m-0 mb-2">
			У продавца еще есть время, чтобы подтвердить готовность принять вашу
			заявку!
		</h3>
		<h3 class="text-center text-xl font-bold m-0">
			Уверены, что хотите отменить?
		</h3>
		<div class="flex column-gap-2 mt-3">
			<button (click)="showModal()" type="button" class="w-full justify-content-center column-gap-2" severity="danger"
				pButton size="small">
				<i class="pi pi-times-circle"></i>
				Не надо
			</button>
			<button (click)="cancel()" type="button" severity="success" class="w-full justify-content-center column-gap-2"
				pButton size="small">
				<i class="pi pi-check-circle"></i>
				Да, уверен
			</button>
		</div>
	</p-dialog>
</div>
}