@if(order) {
<div *ngIf="order.status == 'WAIT_FOR_SELLER_ACCEPT'">
	<h3 class="font-bold m-0 text-xl my-4 text-700">
		Заявка на покупку {{order.pokerRoomName}}
		<p-tag icon="pi pi-stopwatch" value="Ждем продавца" />
	</h3>
	<div class="grid">
		<div class="col-12 lg:col-6">
			<h3 class="m-0 text-xl text-700 mb-2">
				Ваша заявка передана продавцу, ожидаем подтверждение от него
			</h3>
			<h3 class="text-xl text-yellow-600 my-3">{{ timer | date: 'mm:ss' }}</h3>
			<p class="text-xl font-light mb-3">
				У продавца есть 5 минуты, чтобы подтвердить готовность принять вашу
				заявку и оплату от вас.
			</p>
			<p class="text-xl font-light mb-3">
				Если этого не произойдет, то заявка отменится и вы сможете откликнуться
				на заявку другого продавца.
			</p>

			<button (click)="cancel()" type="button" severity="danger" size="small" pButton
				class="w-full justify-content-center column-gap-2">
				<i class="pi pi-times-circle"></i>
				Отменить заявку
			</button>
		</div>
		<div class="col-12 lg:col-6">
			<div class="grid border-round">
				<div class="col-12 sm:col-6">
					<p class="m-0 mb-2 text-sm text-500">
						Nº заявки: <span class="text-700">{{id}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Курс и валюта: <span class="text-700">{{order.currencyName}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Продавец: <span class="text-700">{{order.sellerFullName}}</span>
					</p>
					<p class="m-0 text-sm text-500">
						Банк: <span class="text-700">{{order.bankName}}</span>
					</p>
				</div>
				<div class="col-12 sm:col-6">
					<!-- <p class="m-0 mb-2 text-sm text-500">
							Nº отклика: <span class="text-700">{{order.sellRequestId}}</span>
						</p> -->
					<p class="m-0 mb-2 text-sm text-500">
						Рум / кошелек: <span class="text-700">{{order.pokerRoomName}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Аккаунт: <span class="text-700">{{order.pokerRoomNickname}}</span>
					</p>
					<p class="m-0 mb-2 text-sm text-500">
						Сумма: <span class="text-700">{{order.wantToBuyUSD}} USD</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="true">
	<ng-container>
		<ng-container *ngIf="order.status == 'CANCELED'">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку {{order.pokerRoomName}}
				<p-tag severity="danger" icon="pi pi-times-circle" value="Отменена" />
			</h3>
		</ng-container>
		<ng-container *ngIf="order.status == 'EXPIRED'">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку {{order.pokerRoomName}}
				<p-tag severity="danger" icon="pi pi-hourglass" value="Истекший" />
			</h3>
		</ng-container>
		<ng-container *ngIf="order.status =='WAIT_FOR_BUYER_PAY'">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку {{order.pokerRoomName}}
				<p-tag severity="warning" icon="pi pi-send" value="Сделайте оплату" />
			</h3>
		</ng-container>
		<ng-container *ngIf="order.status =='BUYER_PAYED'">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку {{order.pokerRoomName}}
				<p-tag icon="pi pi-bolt" severity="warning" value="Проверяем оплату " />
			</h3>
		</ng-container>
		<ng-container *ngIf=" order.status == 'WAIT_FOR_ADMIN_MOVE'">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку {{order.pokerRoomName}}
				<p-tag icon="pi pi-bolt" value="Ожидание подтверждения" />
			</h3>
		</ng-container>
		<ng-container *ngIf="order.status =='COMPLETED'">
			<h3 class="font-bold m-0 text-xl my-4 text-700">
				Заявка на покупку {{order.pokerRoomName}}
				<p-tag icon="pi pi-check-circle" severity="success" value="Выполнена" />
			</h3>
		</ng-container>
		<!-- Statuslarga mos titlelar tugadi -->
		<div class="grid">
			<!-- Statuslarga mos chatni chap tarafi boshlandi -->
			<ng-container *ngIf="order.status == 'EXPIRED'">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-lg mb-3">Время действия заявки истекло</h3>
					<p class="m-0 text-lg font-light">
						Если произошла какая-либо ошибка, то напишите в техническую поддержку и
						мы оперативно все решим.
					</p>
				</div>
			</ng-container>
			<ng-container *ngIf="order.status == 'CANCELED'">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-lg mb-3">Вы отменили заявку</h3>
					<p class="m-0 text-lg font-light">
						Если произошла какая-либо ошибка, то напишите в техническую поддержку и
						мы оперативно все решим.
					</p>
				</div>
			</ng-container>
			<ng-container *ngIf="order.status =='WAIT_FOR_BUYER_PAY'">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-xl text-700 mb-2">
						Для оплаты заявки сделайте перевод продавцу:
					</h3>
					<div class="my-3 p-3 surface-100 border-round">
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">Банк:</label>
							<h3 class="text-yellow-600 text-lg m-0">
								{{order.bankName}}
							</h3>
						</div>
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">ФИО получателя:</label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.sellerFullName}}</h3>
						</div>
						<div class="mb-3" *ngIf="order.isSbpBank">
							<label class="mb-2 text-500 text-sm">Номер телефона:</label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.detailsValue}}</h3>
						</div>
						<div class="mb-3" *ngIf="!order.isSbpBank">
							<label class="mb-2 text-500 text-sm">Номер счёта: </label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.detailsValue}}</h3>
						</div>
						<div>
							<label class="mb-2 text-500 text-sm">Сумма:</label>
							<h3 class="text-yellow-600 text-lg m-0">
								{{ order.wantToBuyUSD * order.currencyRate + ' ' + order.currencyName}}
							</h3>
						</div>
					</div>
					<div>
						<div class="mb-3">
							<label class="text-500 mb-1 block text-sm">ФИО отправителя:*</label>
							<input type="text" [(ngModel)]="bayerFullName" pInputText placeholder="Иванов Иван Иванович" />
						</div>
						<div class="mb-3">
							<label class="text-500 mb-1 block text-sm">
								{{ order.isSbpBank ? 'Последние 4 символа вашего номера телефона:*' : 'Последние 4 цифры вашей карты:*'
								}}
							</label>
							<input type="number" [(ngModel)]="lastFourDig" pInputText placeholder="1234" />
						</div>

						<div *ngIf="!transactions">
							<button type="button" (click)="request = true" severity="success" pButton
								class="w-full justify-content-center mb-2 column-gap-2">
								<i class="pi pi-check-circle"></i>
								Отправил
							</button>
							<button (click)="visible = true" type="button" severity="danger" pButton
								class="w-full justify-content-center column-gap-2">
								<i class="pi pi-times-circle"></i>
								Отменить
							</button>
						</div>
						<div *ngIf="transactions">
							<h3 class="m-0 text-700 mb-3 font-semibold">
								После подтверждения, мы перечислим {{order.wantToBuyUSD}} USD на ваш аккаунт {{order.pokerRoomName}}.
							</h3>
							<button type="button" severity="danger" pButton class="w-full justify-content-center column-gap-2">
								<i class="pi pi-times-circle"></i>
								Отменить заявку
							</button>
						</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="order.status =='BUYER_PAYED'">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-xl text-700 mb-2">
						Для оплаты заявки сделайте перевод продавцу:
					</h3>
					<div class="my-3 p-3 surface-100 border-round">
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">Банк:</label>
							<h3 class="text-yellow-600 text-lg m-0">
								{{order.bankName}}
							</h3>
						</div>
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">ФИО получателя:</label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.sellerFullName}}</h3>
						</div>
						<div class="mb-3" *ngIf="order.isSbpBank">
							<label class="mb-2 text-500 text-sm">Номер телефона:</label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.detailsValue}}</h3>
						</div>
						<div class="mb-3" *ngIf="!order.isSbpBank">
							<label class="mb-2 text-500 text-sm">Номер счёта: </label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.detailsValue}}</h3>
						</div>
						<div>
							<label class="mb-2 text-500 text-sm">Сумма:</label>
							<h3 class="text-yellow-600 text-lg m-0">
								{{ order.wantToBuyUSD }} USD
							</h3>
						</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="order.status == 'WAIT_FOR_ADMIN_MOVE'">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-xl text-700 mb-2">
						Контрагент подтвердил получение оплаты от вас, ожидайте перевод
					</h3>
					<div class="my-3 p-3 surface-100 border-round">
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">Банк:</label>
							<h3 class="text-yellow-600 text-lg m-0">
								{{order.bankName}}
							</h3>
						</div>
						<div class="mb-3">
							<label class="mb-2 text-500 text-sm">ФИО получателя:</label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.sellerFullName}}</h3>
						</div>
						<div class="mb-3" *ngIf="order.isSbpBank">
							<label class="mb-2 text-500 text-sm">Номер телефона:</label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.detailsValue}}</h3>
						</div>
						<div class="mb-3" *ngIf="!order.isSbpBank">
							<label class="mb-2 text-500 text-sm">Номер счёта: </label>
							<h3 class="text-yellow-600 text-lg m-0">{{order.detailsValue}}</h3>
						</div>
						<div>
							<label class="mb-2 text-500 text-sm">Сумма:</label>
							<h3 class="text-yellow-600 text-lg m-0">
								{{ order.wantToBuyUSD }} USD
							</h3>
						</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="order.status =='COMPLETED'">
				<div class="col-12 lg:col-6">
					<h3 class="m-0 text-xl text-700 mb-2">Заявка успешно выполнена</h3>
					<p class="m-0 font-light text-lg">
						Вы получили {{order.wantToBuyUSD}} USD на ваш аккаунт {{order.pokerRoomName}}.
					</p>
					<div class="grid mt-3">
						<div class="col-12 sm:col-6">
							<p class="m-0 mb-2 text-sm text-500">
								Nº заявки: <span class="text-700">{{id}}</span>
							</p>
							<p class="m-0 mb-2 text-sm text-500">
								Курс и валюта: <span class="text-700">{{order.currencyName}}</span>
							</p>
							<p class="m-0 mb-2 text-sm text-500">
								Продавец: <span class="text-700">{{order.sellerFullName}}</span>
							</p>
							<p class="m-0 text-sm text-500">
								Банк: <span class="text-700">{{order.bankName}}</span>
							</p>
						</div>
						<div class="col-12 sm:col-6">
							<p class="m-0 mb-2 text-sm text-500">
								Рум / кошелек: <span class="text-700">{{order.pokerRoomName}}</span>
							</p>
							<p class="m-0 mb-2 text-sm text-500">
								Аккаунт: <span class="text-700">{{order.pokerRoomNickname}}</span>
							</p>
							<p class="m-0 text-sm text-500">
								Сумма: <span class="text-700">{{order.wantToBuyUSD}} USD</span>
							</p>
						</div>
					</div>
				</div>
			</ng-container>
			<!-- Statuslarga mos chatni chap tarafi tugadi -->
			<!-- Chat bu faqat qabul qilishni kutishda chiqmaydi  boshlandi -->
			<div *ngIf="order.status !== 'WAIT_FOR_SELLER_ACCEPT'" class="col-12 lg:col-6">
				<div class="chat shadow-1 border-round bg-white"
					[ngClass]="order.status === 'CANCELED' || order.status == 'COMPLETED' || order.status === 'EXPIRED' ? 'disabled':''">
					<div class="flex align-items-center justify-content-between p-3 border-bottom-1 border-yellow-100">
						<h3 class="m-0 text-yellow-600 text-lg">Чат с контрагентом</h3>
						<b class="flex align-content-center column-gap-1">
							<span class="block font-semibold text-sm uppercase text-yellow-600 line-height-1">B{{id}}</span>
						</b>
					</div>
					<div class="p-3">
						<div #chatContainer class="overflow-y-scroll w-full chatbody" id="chat_body" [style]="{ height: '350px' }">
							<ng-container *ngFor="let item of chats">
								<div *ngIf="item.senderRole == 'Admin' || item.senderRole == 'System'"
									class="p-2 border-1 border-yellow-100 mb-2 border-round flex align-items-start column-gap-2">
									<i class="pi pi-shield text-yellow-600"></i>
									<p class="m-0 text-yellow-600 text-sm">
										<span *ngIf="item.msgType == 'text'">
											{{item.msgValue}}
										</span>
										<p-image [src]="mediaUrl + item.msgValue" *ngIf="item.msgType == 'file'" alt="Image" width="100%"
											[preview]="true" />
									</p>
								</div>
								<div *ngIf="item.senderRole == 'Seller'" class="mb-2 admin mr-auto" style="width: 50%">
									<p *ngIf="item.msgType == 'text'" class="m-0 text-yellow-700 bg-yellow-100 p-2 text-sm border-round">
										{{item.msgValue}}
									</p>
									<p-image [src]="mediaUrl + item.msgValue" *ngIf="item.msgType == 'file'" alt="Image" width="100%"
										[preview]="true" />
									<span class="block text-left mt-1 text-500 text-xs">{{item.sentAt}}
									</span>
								</div>
								<div *ngIf="item.senderRole == 'Buyer'" class="mb-2 user ml-auto" style="width: 50%">
									<p *ngIf="item.msgType == 'text'" class="m-0 text-yellow-700 bg-yellow-200 p-2 text-sm border-round">
										{{item.msgValue}}
									</p>
									<p-image [src]="mediaUrl + item.msgValue" *ngIf="item.msgType == 'file'" alt="Image" width="100%"
										[preview]="true" />
									<span class="block text-right mt-1 text-500 text-xs">{{item.sentAt}}
									</span>
								</div>
							</ng-container>
						</div>
					</div>
					<div class="p-3 border-top-1 border-yellow-100">
						<div class="flex column-gap-2">
							<p-inputGroup>
								<div class="file-upload-wrapper">
									<input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" />
									<button pButton type="button"
										class="border-right-none border-noround border-round-left border-yellow-300" outlined="true"
										(click)="fileInput.click()">
										<i class="pi pi-paperclip text-lg"></i>
									</button>
								</div>
								<input [(ngModel)]="text" type="text" pInputText size="small" class="border-yellow-300"
									placeholder="Напишите сообщение..." />
								<button (click)="sendText()" type="button" pButton severity="primary"
									class="border-left-none border-none">
									<i class="pi pi-send block"></i>
								</button>
							</p-inputGroup>
						</div>
					</div>
				</div>
			</div>
			<!-- Chat bu faqat qabul qilishni kutishda chiqmaydi  tugadi -->
		</div>
	</ng-container>

	<p-dialog header="Подтверждение операций" [modal]="true" [(visible)]="request" [style]="{ width: '25rem' }">
		<p class="m-0 font-light text-lg">
			Вы подтверждаете, что перевели указанную сумму в полном объеме и на
			реквизиты, которые указаны?
		</p>
		<div class="flex mt-3 column-gap-2">
			<button type="button" class="w-full justify-content-center column-gap-2" (click)="request = false" pButton
				severity="danger">
				<i class="pi pi-times-circle"></i>
				Нет
			</button>
			<button (click)="payed(); request = false;" type="button" class="w-full justify-content-center column-gap-2"
				pButton severity="success">
				<i class="pi pi-check-circle"></i>
				Да
			</button>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
		<h3 class="text-center text-xl font-light m-0 mb-2">
			У продавца еще есть время, чтобы подтвердить готовность принять вашу
			заявку!
		</h3>
		<h3 class="text-center text-xl font-bold m-0">
			Уверены, что хотите отменить?
		</h3>
		<div class="flex column-gap-2 mt-3">
			<button (click)="showModal()" type="button" class="w-full justify-content-center column-gap-2" severity="danger"
				pButton size="small">
				<i class="pi pi-times-circle"></i>
				Не надо
			</button>
			<button (click)="cancel()" type="button" severity="success" class="w-full justify-content-center column-gap-2"
				pButton size="small">
				<i class="pi pi-check-circle"></i>
				Да, уверен
			</button>
		</div>
	</p-dialog>
</div>
}