@if (order) {
@if (order) {
<div class="container mb-5">
	<div class="flex align-items-center justify-content-between my-5">
		<h2 class="m-0 font-medium text-xl">Заявка на покупку ПокерОК</h2>
		<a (click)="goBack()"
			class="flex align-items-center column-gap-1 m-0 line-height-1 text-yellow-600 cursor-pointer text-sm">
			<i class="pi pi-arrow-left"></i>
			Вернуться назад
		</a>
	</div>
	<form [formGroup]="depostiForm">
		<div class="grid">
			<div class="col-12 lg:col-6">
				<div>
					<label
						class="info-order flex align-items-center column-gap-1 text-sm font-medium text-yellow-600 cursor-pointer"
						(click)="infoToogle()" [ngClass]="{'show': infoOrder}">
						Информация о заявке
						<img src="images/down-blue.svg" alt="select-arrow" width="8">
					</label>
					@if (infoOrder) {
					<div class="bg-blue-100 border-round mt-2 p-2 grid">
						<p class="col-6 m-0 text-sm text-500">№ заявки: <b class="text-900 font-semibold">R541267 12.11.24,
								12:49</b>
						</p>
						<p class="col-6 m-0 text-sm text-500">Продавец: <b class="text-900 font-semibold">{{order.fullName}}</b>
						</p>
						<p class="col-6 m-0 text-sm text-500">Курс и валюта: <b class="text-900 font-semibold">{{order.currencyRate
								||
								0}}
								RUB</b>
						</p>
						<p class="col-6 m-0 text-sm text-500">Банк: <b class="text-900 font-semibold">{{order.bankName || ''}}</b>
						</p>
					</div>
					}
					<label class="text-sm text-500 block mt-3 mb-2">Сумма покупки в RUB:* </label>
					<p-inputGroup class="mb-3">
						<input type="number" #input pInputText mode="decimal" formControlName="wantToBuyUSD"
							[placeholder]="'От '+ order.minToSellUSD + ' до '+ order.wantToSellUSD + ' ' + order.currencyName"
							required />
						<button type="button" pButton severity="primary" class="flex-shrink-0 text-sm py-1 px-2" #btn
							(click)="valueToogle(input, btn)">Максимум</button>
					</p-inputGroup>
					<!-- <label class="text-sm text-500 block mb-2">Сумма покупки в RUB:* </label>
								<p-inputGroup class="mb-3">
									<input type="number" #input2 pInputText mode="decimal" placeholder="От 956.00 до 127100.20 RUB"
										[disabled]="isInputDisabled" required />
									<button type="button" pButton severity="primary" class="flex-shrink-0 text-sm py-1 px-2" #btn2
										(click)="valueToogle(input2, btn2)">Максимум</button>
								</p-inputGroup> -->
					<div class="p-3 border-round flex align-items-center column-gap-1 bg-yellow-50">
						<i class="pi pi-sync text-yellow-600"></i>
						<p class="m-0 text-yellow-600">Курс обмена: 1 USD / 107.8 RUB</p>
					</div>
				</div>
			</div>
			<div class="col-12 lg:col-6">
				<div class="border-round p-3 md:p-4 bg-primary-500">
					<div class="field mb-3">
						<label for="firstname1" class="text-sm text-white block mb-2">Ваш никнейм в </label>
						<input type="text" id="firstname1" pInputText mode="decimal" placeholder="PokerTrade"
							formControlName="pokerRoomNickname" required />
					</div>
					<div class="flex mb-3 align-items-center p-2 column-gap-1 border-1 border-white border-round">
						<i class="pi pi-exclamation-circle text-white"></i>
						<p class="m-0 text-white text-xs">Внимательно заполняйте поле! Перевод средств сделают на указанный аккаунт.
						</p>
					</div>
					<button (click)="submit()" type="submit" pButton size="small" severity="success"
						icon="pi font-semibold pi-check-circle" class="w-full justify-content-center column-gap-1">Подать
						заявку на покупку</button>
					<div class="flex align-items-start column-gap-2 mt-3">
						<p-checkbox [binary]="true" inputId="binary" />
						<label for="binary" class="text-xs text-white font-light">
							Подавая заявку, вы принимаете условия <a class="text-white font-medium" href="#">лицензионного
								договора</a>,
							а также
							соглашаетесь с <a class="text-white font-medium" href="#">политикой
								конфиденциальности</a> и <a class="text-white font-medium" href="#">политикой AML / KYC</a>
						</label>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
}
}