<p-table [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [value]="orders">
	<ng-template pTemplate="header">
		<tr>
			<th>Дата</th>
			<th>№ заявки</th>
			<th>Получили</th>
			<th>Отдали</th>
			<th>Курс</th>
			<th>Статус</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-product>
		<tr
			[routerLink]="(product.status !== 'EXPIRED' && product.status !== 'COMPLETED') ? product.id : '/account/deposit'">
			<td>{{ product.createdAt }}</td>
			<td>{{ product.id }}</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					<!-- <img src="images/sber.svg" alt="sberbank" width="17"> -->
					{{ product.received }}
				</div>
			</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					<!-- <img [src]="mediaUrl + product.roomImageUrl" alt="lux" width="17"> -->
					{{ product.gave }}
				</div>
			</td>
			<td>{{ product.currencyRate }}</td>
			<td>
				<p-tag class="w-full" [icon]="
					product.status === 'WAIT_FOR_SELLER_ACCEPT'
						? 'pi pi-clock'
						: product.status === 'WAIT_FOR_BUYER_PAY'
						? 'pi pi-credit-card'
						: product.status === 'BUYER_PAYED'
						? 'pi pi-check-circle'
						: product.status === 'WAIT_FOR_ADMIN_MOVE'
						? 'pi pi-cogs'
						: product.status === 'REJECTED'
						? 'pi pi-times-circle'
						: product.status === 'COMPLETED'
						? 'pi pi-check-circle'
						: product.status === 'CANCELED'
						? 'pi pi-ban'
						: product.status === 'EXPIRED'
						? 'pi pi-calendar-times'
						: ''
				" [severity]="
					product.status === 'WAIT_FOR_SELLER_ACCEPT'
						? 'info'
						: product.status === 'WAIT_FOR_BUYER_PAY'
						? 'info'
						: product.status === 'BUYER_PAYED'
						? 'success'
						: product.status === 'WAIT_FOR_ADMIN_MOVE'
						? 'info'
						: product.status === 'REJECTED'
						? 'danger'
						: product.status === 'COMPLETED'
						? 'success'
						: product.status === 'CANCELED'
						? 'danger'
						: product.status === 'EXPIRED'
						? 'secondary'
						: undefined
				" [value]="
					product.status === 'WAIT_FOR_SELLER_ACCEPT'
						? 'Ожидает подтверждения'
						: product.status === 'WAIT_FOR_BUYER_PAY'
						? 'Ожидает оплаты'
						: product.status === 'BUYER_PAYED'
						? 'Оплачено, ожидание подтверждения'
						: product.status === 'WAIT_FOR_ADMIN_MOVE'
						? 'Ожидается перевод'
						: product.status === 'REJECTED'
						? 'Отклонена'
						: product.status === 'COMPLETED'
						? 'Завершена'
						: product.status === 'CANCELED'
						? 'Отменена'
						: product.status === 'EXPIRED'
						? 'Истек'
						: ''
				"></p-tag>
			</td>
		</tr>
	</ng-template>
</p-table>