<p-table [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [value]="products">
	<ng-template pTemplate="header">
		<tr>
			<th>Дата</th>
			<th>№ заявки</th>
			<th>Получили</th>
			<th>Отдали</th>
			<th>Курс</th>
			<th>Статус</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-product>
		<tr routerLink="/account/withdrawal/39483943">
			<td>{{ product.code }}</td>
			<td>{{ product.name }}</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					<img src="images/sber.svg" alt="sberbank" width="17">
					{{ product.category }}
				</div>
			</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					<img src="images/LUX-mini.svg" alt="lux" width="17">
					{{ product.quantity }}
				</div>
			</td>
			<td>{{ product.exchangeRate }}</td>
			<td>
				<p-tag class="w-full" [icon]="product.status ? 'pi pi-check-circle' : 'pi pi-times-circle'"
					[severity]="product.status ? 'success' : 'danger'" [value]="product.status ? 'утверждена' : 'отменена'">
				</p-tag>
			</td>
		</tr>
	</ng-template>
</p-table>