::ng-deep {
  .fixet-btn {
    .p-button {
      width: 100%;
      justify-content: center;
    }

    .p-button-label {
      flex: none;
    }
  }
}
.navbar-toggle__btns {
  button {
    background-color: transparent;
  }
}
