header {
	box-shadow: 0 5px 20px #0000000d;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background: #fff;
	z-index: 3;
	position: sticky;
	padding: 20px 0;
}

a.logo {
	display: block;
	width:60px;

	img {
		width: 100%;
	}
}

.header-wrappper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 40px;
	width: 100%;
}

.header-center {
	width: 100%;
	max-width: 890px;
	display: flex;
	align-items: center;
	column-gap: 40px;
}

.header-center__toggle {
	width: calc(50% - 15px);

	.toggle__btn {
		height: 35px;
	}
}

.navbar-right {
	display: flex;
	align-items: center;
	column-gap: 40px;

	.balance {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}
}

.profile {
	display: flex;
	align-items: center;
	column-gap: 15px;

	button {
		border: none;
		background-color: transparent;
	}

	.profile__btn {
		font-weight: 700;
		font-size: 12px;
		color: #307bf6;
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	.logout__btn,
	.profile__btn {
		height: fit-content;

		img {
			display: block;
		}
	}
}