@if (profile) {
<header class="shadow-1 py-1">
	<div class="container">
		<div class="flex align-items-center justify-content-between column-gap-4 header-wrappper">
			<div class="flex align-items-center column-gap-4 w-full header-left">
				<a routerLink="/" class="flex-shrink-0 no-underline logo">
					<span class="no-underline text-700 text-yellow-700 font-bold">PokerTrade</span>
					<img src="images/logo.png" alt="Logo" />
				</a>
				<p-button (click)="navigateByAuth()" routerLink="sell-request/form" class="flex-shrink-0 hidden md:flex"
					severity="success" icon="pi pi-arrow-up-right" label="Сделать заявку на продажу" />
				<div class="p-1 border-1 border-yellow-100 hidden sm:flex border-round w-full navbar-toggle__btns">
					<button routerLink="/home" routerLinkActive="bg-yellow-100 text-yellow-600"
						class="border-none p-2 text-500 font-medium w-full border-round text-sm cursor-pointer">Все
						заявки</button>
					<button routerLink="/account" routerLinkActive="bg-yellow-100 text-yellow-600"
						class="border-none p-2 text-500 font-medium w-full border-round text-sm cursor-pointer">Мои
						заявки</button>
				</div>
			</div>
			<div class="flex align-items-center flex-shrink-0 column-gap-3 navbar-right">
				<div *ngIf="isUserLoginned()" class="flex align-items-center cursor-pointer column-gap-1"
					(click)="showBalance()">
					<b *ngIf="profile | async as profile"
						class="line-height-1 m-0 text-yellow-600 text-lg">{{profile.balance}}$</b>
					<i class="pi pi-wallet text-xl text-yellow-600 font-bold"></i>
				</div>
				<div class="flex align-items-center column-gap-2 profile">
					<button type="button" routerLink="/profile" *ngIf="isUserLoginned()" pButton size="small"
						class="bg-yellow-100 border-none">
						<i class="pi pi-user text-yellow-600 font-bold"></i>
					</button>
					<button type="button" (click)="openModal()" *ngIf="!isUserLoginned()" pButton size="small"
						class="bg-yellow-100 border-none" (click)="logout()">
						<i class="pi pi-user text-yellow-600 font-bold"></i>
					</button>
					<button type="button" pButton size="small" class="bg-yellow-100 border-none" (click)="logout()"
						*ngIf="isUserLoginned()">
						<i class="pi pi-sign-out text-yellow-600 font-bold"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="bg-white border-round-top shadow-1 z-3 block md:hidden fixed bottom-0 py-2 left-0 right-0">
	<div class="container">
		<div class="p-1 border-1 border-yellow-100 flex mb-2 sm:hidden navbar-toggle__btns border-round w-full">
			<button routerLink="/home" routerLinkActive="bg-yellow-100 text-yellow-600"
				class="border-none p-2 text-500 font-medium w-full border-round text-sm cursor-pointer">Все
				заявки</button>
			<button routerLink="/account" routerLinkActive="bg-yellow-100 text-yellow-600"
				class="border-none p-2 text-500 font-medium w-full border-round text-sm cursor-pointer">Мои
				заявки</button>
		</div>
		<p-button (click)="navigateByAuth()" class="flex-shrink-0 fixet-btn w-full" severity="success"
			icon="pi pi-arrow-up-right" label="Сделать заявку на продажу" />
	</div>
</div>

<!-- =============================================== -->
<p-dialog *ngIf="profile | async as profile" header="Вывод баланса PokerTrade" [(visible)]="balanceModal" [modal]="true"
	[responsive]="true" [style]="{'width': '350px', 'max-width': '90%'}">
	<p class="m-0 mb-2 text-700">
		Укажите свой никнейм в <span class="font-bold">ПокерОК</span>
	</p>
	<form (ngSubmit)="sendToAdmin()" [formGroup]="withdrawalForm">
		<input type="text" class="w-full mb-1" formControlName="pokerRoomNickname" pInputText placeholder="никнейм"
			required>
		<p *ngIf="withdrawalForm.get('pokerRoomNickname')?.errors?.['required']"
			class="m-0 p-2 border-round bg-red-500 text-xs text-center text-white">
			Обязательное поле
		</p>

		<input type="number" class="w-full mb-1 mt-2" formControlName="amount" pInputText [placeholder]="'от 5 до 5000'"
			required>

		<p *ngIf="withdrawalForm.get('amount')?.errors?.['min']"
			class="m-0 mb-2 p-2 border-round bg-red-500 text-xs text-center text-white">
			Минимум 5
		</p>

		<p *ngIf="withdrawalForm.get('amount')?.errors?.['max']"
			class="m-0 mb-2 p-2 border-round bg-red-500 text-xs text-center text-white">
			Ваш баланс: {{ profile.balance }}
		</p>

		<p *ngIf="withdrawalForm.get('amount')?.errors?.['required']"
			class="m-0 mb-2 p-2 border-round bg-red-500 text-xs text-center text-white">
			Обязательное поле
		</p>

		<button type="submit" size="small" pButton severity="primary" class="w-full mt-2 justify-content-center"
			[disabled]="withdrawalForm.invalid">
			Отправить заявку
		</button>
	</form>
</p-dialog>

<!-- ============================================== -->
<p-dialog header="Подтверждение вывода средств" [(visible)]="acceptModal" [modal]="true" [responsive]="true"
	[style]="{'width': '350px', 'max-widht': '90%'}">
	<p class="m-0 mb-2 text-700">Вы уверены, что хотите вывести {{amount}} USD на свой никнейм ПокерОК {{roomNick}}?</p>
	<div class="w-full flex gap-2">
		<button type="button" size="small" (click)="acceptModal = false" pButton severity="danger"
			class="w-full justify-content-center">Отмена</button>
		<button type="button" size="small" pButton severity="success" class="w-full justify-content-center"
			(click)="sentSucess()">Да, я
			уверен</button>
	</div>
</p-dialog>
<p-dialog header="Заявка на вывод отправлена!" [(visible)]="succsessModal" [modal]="true" [responsive]="true"
	[style]="{'width': '350px', 'max-widht': '90%'}">
	<p class="m-0 mb-2 text-700">Ваша заявка на вывод {{amount}} USD на никнейм {{roomNick}} (ПокерОК) успешно
		отправлена!
		Наши администраторы обработают её в течение 5-10 минут. <br> <br>
		Ожидайте, пожалуйста, уведомления в Telegram!
	</p>
	<button type="button" size="small" (click)="succsessModal = false" pButton severity="success"
		class="w-full justify-content-center">Ok</button>
</p-dialog>
}