<header class="shadow-1 py-1">
	<div class="container">
		<div class="flex align-items-center justify-content-between column-gap-4 header-wrappper">
			<div class="flex align-items-center column-gap-4 w-full header-left">
				<a routerLink="/" class="w-4rem flex-shrink-0 logo">
					<img src="images/logo.png" alt="Logo" class="w-full" />
				</a>
				<p-button (click)="navigateByAuth()" class="flex-shrink-0" severity="success" icon="pi pi-arrow-up-right"
					label="Сделать заявку на продажу" />
				<div class="p-1 border-1 border-blue-100 border-round w-full flex">
					<button routerLink="/home" routerLinkActive="bg-primary-50 text-primary"
						class="border-none p-2 text-500 font-medium w-full border-round text-sm cursor-pointer">Все
						заявки</button>
					<button routerLink="/account" routerLinkActive="bg-primary-50 text-primary"
						class="border-none p-2 text-500 font-medium w-full border-round text-sm cursor-pointer">Мои
						заявки</button>
				</div>
			</div>
			<div class="flex align-items-center flex-shrink-0 column-gap-3 navbar-right">
				<div class="flex align-items-center cursor-pointer column-gap-1">
					<b class="line-height-1 m-0 text-primary text-lg">0$</b>
					<i class="pi pi-wallet text-xl font-bold"></i>
				</div>
				<div class="flex align-items-center column-gap-3 profile">
					<p-avatar shape="circle" (click)="openModal()" class="cursor-pointer" image="images/user-icon01.svg"
						styleClass="mr-2" *ngIf="isUserLoginned()" />
					<button (click)="openModal()" class="border-none bg-white font-semibold p-0 line-height-1 profile__btn"
						*ngIf="!isUserLoginned()">
						<i class="pi pi-user text-700 font-bold"></i>
					</button>
					<!-- <i class="pi pi-sign-out font-bold text-700 cursor-pointer" (click)="logout()" *ngIf="isUserLoginned()"></i> -->
				</div>
			</div>
		</div>
	</div>
</header>