<div class="bg-white py-5 shadow-1">
	<div class="container">
		<div class="grid justify-content-center">
			<div class="col-12 lg:col-4 md:col-6 text-center">
				<ul class="list-none flex flex-column row-gap-2 p-0 m-0">
					<li><a class="text-yellow-600 hover:underline no-underline" href="#">Подпишись на наш Telegram</a></li>
					<li><a class="text-yellow-600 hover:underline no-underline" href="#">Жалобы и предложения</a></li>
					<li><a class="text-yellow-600 hover:underline no-underline" href="#">
							Инструкция по работе сервиса</a></li>
				</ul>
			</div>
			<div class="col-12 lg:col-4 md:col-6 text-center">
				<ul class="list-none flex flex-column row-gap-2 p-0 m-0">
					<li><a class="text-yellow-600 hover:underline no-underline" href="#">Лицензионный договор</a></li>
					<li><a class="text-yellow-600 hover:underline no-underline" href="#">Политика конфиденциальности</a></li>
					<li><a class="text-yellow-600 hover:underline no-underline" href="#">Политика AML / KYC</a></li>
				</ul>
			</div>
		</div>
		<p class="m-0 mt-3 text-center text-xs text-400">2024-{{dateNow | date:'YYYY'}}. All rights reserved.</p>
	</div>
</div>