<footer class="footer">
	<div class="container">
		<div class="footer-buttons">
			<a href="/" class="footer-btn">
				<img src="images/warn.svg" alt="warn" width="20">
				Жалобы и предложения
			</a>
			<a href="/" class="footer-btn subscribe">
				<img src="images/tg.svg" alt="Telegram" width="20">
				Подпишись на наш Telegram</a>
			<a href="/" class="footer-btn">
				<img src="images/info-icon.svg" alt="info" width="20">
				Инструкция по работе сервиса</a>
		</div>
		<div class="footer-links">
			<a routerLink="" class="footer-link">Лицензионный договор</a>
			<a routerLink="" class="footer-link">Политика конфиденциальности</a>
			<a routerLink="" class="footer-link">Политика AML / KYC</a>
		</div>
		<div class="footer-info">
			<p>
				NASHGARANT are trading names of LABCLUB-MNE DOO (No. 51082833), a company
				registered in Montenegro, located at: Naselje Svete Petke B.B., Budva,
				85310.
			</p>
			<p>© NASHGARANT, 2020-2024. All rights reserved.</p>
		</div>
	</div>
</footer>