<div class="grid flex-column-reverse lg:flex-row mt-3">
	<div class="col-12 lg:col-6">
		<form class="bg-blue-100 p-4 border-round">
			<div class="field mb-3">
				<label for="firstname1" class="text-sm text-500 block mb-2">Ваш ID в PokerTrade:</label>
				<input type="number" id="firstname1" pInputText mode="decimal" placeholder="user id" class="text-700"
					value="52392" disabled />
			</div>
			<div class="field mb-3">
				<label for="firstname1" class="text-sm text-500 block mb-2">Ваш никнейм в PokerTrade:*</label>
				<input type="text" id="firstname1" pInputText mode="decimal" placeholder="username" required />
			</div>
			<label for="firstname1" class="text-sm text-500 block mb-2">Ваш email:</label>
			<p-inputGroup class="mb-3">
				<input type="email" pInputText mode="decimal" placeholder="user@luxon.com" />
				<button type="button" pButton severity="primary" class="flex-shrink-0 text-sm py-1 px-2">Отправить код</button>
			</p-inputGroup>
			<div class="flex align-items-start column-gap-1 p-2 border-round border-1 border-400">
				<i class="pi text-500 text-sm pi-exclamation-circle"></i>
				<p class="m-0 text-500 text-sm">Важно! Изменить данные после сохранения можно только через техподдержку
					PokerTrade</p>
			</div>
		</form>
	</div>
	<div class="col-12 lg:col-6">
		<div class="user cursor-pointer w-2 border-circle overflow-hidden relative" (click)="showDialog()">
			<img [src]="userimg" alt="user icon" class="w-full block">
			<span
				class="absolute camera top-0 left-0 z-2 flex align-items-center justify-content-center transition-all w-full h-full border-circle">
				<i class="text-white text-2xl pi pi-camera "></i>
			</span>
		</div>
		<div class="bg-red-400 flex align-items-start column-gap-2 my-3 inline-flex border-round py-2 px-3">
			<i class="pi pi-exclamation-triangle text-sm text-white"></i>
			<p class="m-0 text-sm text-white font-light">Ваш аккаунт не верифицирован </p>
		</div>
		<div class="flex align-items-start column-gap-1 mb-3 p-2 border-round border-1 border-400">
			<i class="pi text-500 text-sm pi-exclamation-circle"></i>
			<p class="m-0 text-500 text-sm">Важно! Изменить данные после сохранения можно только через техподдержку
				PokerTrade</p>
		</div>
		<div>
			<h5 class="m-0 mb-2 block text-yellow-600 text-sm">Моя статистика: </h5>
			<div class="bg-blue-100 border-round p-2">
				<div class="grid">
					<div class="col-6">
						<p class="m-0 text-500 font-light text-sm">Ср. время отклика: <b class="text-700">0</b> </p>
					</div>
					<div class="col-6">
						<p class="m-0 text-500 font-light text-sm">Ср. время отклика: <b class="text-700">0</b> </p>
					</div>
					<div class="col-6">
						<p class="m-0 text-500 font-light text-sm">Ср. время отклика: <b class="text-700">0</b> </p>
					</div>
					<div class="col-6">
						<p class="m-0 text-500 font-light text-sm">Ср. время отклика: <b class="text-700">0</b> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<p-dialog header="Выбор аватара" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
	<div class="grid h-20rem overflow-y-scroll">
		@for (item of userIcons; track $index) {
		<div class="col-3">
			<img [src]="item" class="cursor-pointer block w-full" (click)="sitchUserImg(item)" [alt]="'user icon'">
		</div>
		}
	</div>
</p-dialog>