<div class="container mb-5">
	<div class="flex align-items-center justify-content-between my-5">
		<h2 class="m-0 font-medium text-xl">Заявка на продажу {{activeRoom.title}}</h2>
		<a routerLink="/home"
			class="no-underline flex flex-shrink-0 align-items-center column-gap-1 m-0 line-height-1 text-yellow-600 cursor-pointer text-sm">
			<i class="pi pi-arrow-left text-sm"></i> Вернуться назад</a>
	</div>
	<div class="grid" *ngIf="!bid_form">
		<div class="col-12 lg:col-6">
			<div class="p-1 border-1 border-yellow-100 w-full flex border-round toogle-buttons">
				<button [ngClass]="{'bg-yellow-50 text-yellow-600': balanceOrAccount}" (click)="balanceToogle()"
					class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">С аккаунта
					{{activeRoom.title}}</button>
				<button [ngClass]="{'bg-yellow-50 text-yellow-600': !balanceOrAccount}" (click)="balanceToogle()"
					class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">С баланса
					PokerTrade</button>
			</div>
			<div class="my-4">
				<label class="font-medium text-sm text-500 mb-2 block">Выберите рум / кошелек и валюту:*</label>
				<div class="flex w-full align-items-center column-gap-2">
					<p-dropdown (onChange)="setActiveRoom(activeRoom)" [ngStyle]="{width: '100%'}" [options]="rooms"
						[(ngModel)]="activeRoom" optionLabel="title" placeholder="Select a wallet" />
					<p-dropdown [options]="currencies" class="curs" (onChange)="setActiveCurrency(activeCurrency)" [(ngModel)]="activeCurrency" optionLabel="title"
						placeholder="Select a wallet" [ngStyle]="{width: '100px'}" />
				</div>
			</div>
			<div class="p-3 border-round flex align-items-center column-gap-1 bg-yellow-50">
				<i class="pi pi-sync text-yellow-600"></i>
				<p class="m-0 text-yellow-600">Комиссия сервиса за продажу: 2% + 2$</p>
			</div>
			<div class="my-4">
				<label class="font-medium text-sm text-500 mb-2 block">Сколько {{activeCurrency.title}} хотите продать:*
				</label>
				<p-inputGroup class="mb-3">
					<input [(ngModel)]="wantToSellUSD" type="number" #maxInp [(ngModel)]="maxInp" pInputText mode="decimal"
						[placeholder]="'От ' + activeCurrency.rateMin + ' ' + activeCurrency.title + ' до ' + activeCurrency.rateMax + ' ' + activeCurrency.title"
						required (ngModelChange)="calculateCurs(maxInp)" 
						[min]="activeCurrency.rateMin"
						[max]="activeCurrency.rateMax"/>
					<button type="button" severity="primary" pButton class="flex-shrink-0 text-sm py-1 px-2" #maxFixBtn
						(click)="maxValu(maxInp, maxFixBtn)">Максимум</button>
				</p-inputGroup>
			</div>
			<div class="mb-4">
				<label class="font-medium text-sm text-500 mb-2 block">Минимальная доля в {{activeCurrency.title}} для
					покупки:*
				</label>
				<p-inputGroup>
					<input [(ngModel)]="minToSellUSD" pInputText type="number" 
						[placeholder]="'От ' + activeCurrency.rateMin + ' ' + activeCurrency.title" 
						[min]="activeCurrency.rateMin"
						[max]="activeCurrency.rateMax"/>
					<p-inputGroupAddon
						[pTooltip]="'Минимальная часть заявки, которую можно приобрести за одну сделку. Рекомендуем от ' + activeCurrency.rateMin + activeCurrency.title + ' до ' + activeCurrency.rateMax + activeCurrency.title + ', чтобы быстрее выкупили'"
						tooltipPosition="bottom">
						<i class="pi pi-question-circle"></i>
					</p-inputGroupAddon>
				</p-inputGroup>
			</div>
			<p-inputGroup>
				<input [(ngModel)]="currencyRate" pInputText type="number" [value]="activeCurrency.rateMin" placeholder="Курс" />
				<p-inputGroupAddon
					[pTooltip]="'Курс продажи за' + activeCurrency.rateMin + activeCurrency.title + '. Чем ниже курс, тем быстрее выкупят заявку'"
					tooltipPosition="bottom">
					<i class="pi pi-question-circle"></i>
				</p-inputGroupAddon>
			</p-inputGroup>
		</div>
		<div class="col-12 lg:col-6">
			<div class="p-3 md:p-4 border-round bg-primary-500">
				<label class="font-medium text-sm text-white mb-2 block">Реквизиты для перевода:* </label>
				<div class="mb-4 flex sm:flex-row flex-column align-items-center column-gap-2">
					<p-dropdown [options]="banks" optionLabel="title" class="w-full sm:w-10rem flex-shrink-0 mb-2 sm:mb-0">
						<ng-template pTemplate="selectedItem" let-selectedOption>
							<div class="flex align-items-center gap-2">
								<img [src]="mediaUrl + selectedOption.imageUrl" [class]="'flag' + selectedBank.title.toLowerCase()"
									style="width: 18px; height:18px;" />
								<div>{{ selectedOption.title }}</div>
							</div>
						</ng-template>
						<ng-template let-country pTemplate="item">
							<div class="flex align-items-center gap-2" (click)="changeBank(country)">
								<img [src]="mediaUrl + country.imageUrl" [class]="'flag flag-' + country.title.toLowerCase()"
									style="width: 18px; height:18px;" />
								<div>{{ country.title }}</div>
							</div>
						</ng-template>
					</p-dropdown>
					<p-inputMask [ngStyle]="{width: '100%'}" mask="9999 9999 9999 9999" variant="filled"
						placeholder="0000 0000 0000 0000" [(ngModel)]="detailsValue"/>
				</div>
				<div *ngIf="isSbp">
					<label class="font-medium text-sm text-white mb-2 block">Банк для отправки перевода по СБП:* </label>
					<p-dropdown [options]="banks" optionLabel="title" class="w-full md:w-15rem" />
				</div>
				<div class="my-4">
					<label class="font-medium text-sm text-white mb-2 block">ФИО получателя:* </label>
					<p-inputGroup>
						<input pInputText placeholder="Иванов Иван Иванович" [(ngModel)]="fullName"/>
						<p-inputGroupAddon
							pTooltip="Это позволит идентифицировать получателя и убедиться, что деньги поступят именно вам"
							tooltipPosition="bottom">
							<i class="pi pi-question-circle"></i>
						</p-inputGroupAddon>
					</p-inputGroup>
				</div>
				<!-- <div class="my-4"> 
					<label class="font-medium text-sm text-white mb-2 block">Дополнительная информация для покупателей: </label>
					<p-inputGroup>
						<input pInputText placeholder="Укажите любую важную информацию" />
						<p-inputGroupAddon pTooltip="Время, когда вы онлайн, особенности счёта, предпочитаемый банк и другие детали"
							tooltipPosition="bottom">
							<i class="pi pi-question-circle"></i>
						</p-inputGroupAddon>
					</p-inputGroup>
				</div> -->
				<div class="my-4 p-2 border-1 border-white border-round flex align-items-center column-gap-2">
					<i class="pi pi-credit-card text-base text-white"></i>
					<b class="font-semibold text-sm text-white">Вы получите: {{calcCurs}} RUB</b>
				</div>
				<button (click)="submit1()" pButton size="small" severity="success"
					icon="pi font-semibold pi-check-circle" class="w-full justify-content-center column-gap-1">Подать
					заявку на покупку</button>
				<div class="flex align-items-start column-gap-2 mt-3">
					<p-checkbox [binary]="true" inputId="binary" />
					<label for="binary" class="text-xs text-white font-light">
						Подавая заявку, вы принимаете условия <a class="text-white font-medium" href="#">лицензионного договора</a>,
						а также
						соглашаетесь с <a class="text-white font-medium" href="#">политикой
							конфиденциальности</a> и <a class="text-white font-medium" href="#">политикой AML / KYC</a>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="bid_form" class="grid">
		<div class="col-12">
			<h3 class="font-bold m-0 text-xl text-700">Для продолжения сделайте перевод на аккаунт PokerTrade: </h3>
			<div class="grid mt-3">
				<div class="col-12 md:col-4">
					<!-- <div class="mb-3">
						<label class="block mb-1 text-sm text-500">Email вашего аккаунта Luxon:* </label>
						<input type="email" name="" pInputText id="" placeholder="pokertrade">
					</div> -->
					<div class="mb-3">
						<label class="block mb-1 text-sm text-500">Имя и фамилия в аккаунте LUXON:* </label>
						<input type="text" [(ngModel)]="pokerRoomNickname" name="" pInputText id="" placeholder="Введенный текст поля">
					</div>
					<div>
						<button type="button" severity="success" (click)="showDialog()"
							class="flex mb-3 align-items-center column-gap-2 w-full justify-content-center" size="small" pButton>
							<i class="pi pi-check-circle"></i>
							Отправил
						</button>
						<button (click)="cancel()" severity="danger" type="button"
							class="flex align-items-center column-gap-2 w-full justify-content-center" size="small" pButton>
							<i class="pi pi-times-circle"></i>
							Отправил
						</button>
					</div>
				</div>
				<div class="col-12 md:col-8">
					<div class="grid">
						<div class="col-12 md:col-4">
							<div class="mb-2">
								<p class="m-0 mb-1 text-sm text-500">Рум / кошелек:</p>
								<b class="text-yellow-600 font-bold text-base">Luxon</b>
							</div>
							<div class="mb-2">
								<p class="m-0 mb-1 text-sm text-500">Аккаунт:</p>
								<b class="text-yellow-600 font-bold text-base">luxonbot&#64;proton.me</b>
							</div>
							<div class="mb-2">
								<p class="m-0 mb-1 text-sm text-500">Сумма:</p>
								<b class="text-yellow-600 font-bold text-base">5000 USD</b>
							</div>
						</div>
						<div class="col-12 sm:col-4">
							<p class="m-0 mb-2 text-sm text-500">№ заявки: <span class="text-700">-</span></p>
							<p class="m-0 mb-2 text-sm text-500">Рум / кошелек: <span class="text-700">Luxon</span></p>
							<p class="m-0 mb-2 text-sm text-500">Аккаунт: <span class="text-700">-</span></p>
							<p class="m-0 mb-2 text-sm text-500">Комиссия сервиса: <span class="text-700">152.00 USD</span></p>
							<p class="m-0 mb-2 text-sm text-500">Курс и валюта: <span class="text-700">101.99 RUB
								</span></p>
						</div>
						<div class="col-12 sm:col-4">
							<p class="m-0 mb-2 text-sm text-500">Сумма: <span class="text-700">-</span></p>
							<p class="m-0 mb-2 text-sm text-500">Банк: <span class="text-700">Luxon</span></p>
							<p class="m-0 mb-2 text-sm text-500">Счет: <span class="text-700">-</span></p>
							<p class="m-0 mb-2 text-sm text-500">ФИО: <span class="text-700">152.00 USD</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog header="Подтверждение операции" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
	<b class="text-700 text-lg font-light mb-3 block">Вы подтверждаете, что перевели указанную сумму в полном объеме и на
		аккаунт,
		который указан? </b>
	<div class="flex column-gap-2">
		<button severity="danger" size="small" type="button" (click)="showDialog()"
			class="flex align-items-center column-gap-2 w-full justify-content-center" size="small" pButton>
			<i class="pi pi-times-circle"></i>
			Нет
		</button>
		<button (click)="submit2()" type="button" severity="success"
			class="flex align-items-center column-gap-2 w-full justify-content-center" size="small" pButton>
			<i class="pi pi-check-circle"></i>
			Да
		</button>
	</div>
</p-dialog>