<div class="grid mb-3">
	<div class="col-12 lg:col-5">
		<div class="p-1 border-1 bg-white border-yellow-100 w-full flex border-round toogle-buttons">
			<button routerLink="/account/withdrawal" routerLinkActive="bg-yellow-50 text-yellow-600"
				class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">Продажи</button>
			<button routerLink="/account/deposit" routerLinkActive="bg-yellow-50 text-yellow-600"
				class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">Покупки</button>
		</div>
	</div>
	<div class="flex align-items-center col-6 lg:col-2 md:col-4">
		<p-calendar [(ngModel)]="dates" [ngStyle]="{width: '100%'}" placeholder="Дата" selectionMode="multiple"
			[readonlyInput]="true" />
	</div>
	<div class="flex align-items-center col-6 lg:col-2 md:col-4">
		<p-dropdown [ngStyle]="{ width: '100%' }" [options]="status" [(ngModel)]="selectStatus" optionLabel="name"
			placeholder="Статус">
		</p-dropdown>
	</div>
	<div class="flex align-items-center col-10 lg:col-2 md:col-4 sm:col-10">
		<p-dropdown [ngStyle]="{ width: '100%' }" [options]="bankData" [(ngModel)]="selectBank" optionLabel="title"
			placeholder="Банк">
		</p-dropdown>
	</div>
	<div class="flex align-items-center col-2 md:col-1">
		<button type="button" class=" bg-yellow-50 install-btn w-full justify-content-center border-none" size="small"
			pButton>
			<i class="pi pi-download font-bold text-yellow-600 text-base"></i>
		</button>
	</div>
</div>

<p-table [value]="orders" [scrollable]="false" [paginator]="true" [rowsPerPageOptions]="[10, 30, 50]" [lazy]="true" [rows]="tablePagination.size" [totalRecords]="tablePagination.totalData" (onLazyLoad)="loadData ? getOrders($event) : {}" [loading]="loading">
	<ng-template pTemplate="header">
		<tr>
			<th>Дата</th>
			<th>№ заявки</th>
			<th>Получили</th>
			<th>Отдали</th>
			<th>Курс</th>
			<th>Статус</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-product>
		<tr
			[routerLink]="(product.status !== 'EXPIRED' && product.status !== 'COMPLETED') ? product.id : '/account/withdrawal'">
			<td>{{ product.createdAt }}</td>
			<td>{{ product.id }}</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					<!-- <img [src]="mediaUrl + product.roomImageUrl" [alt]="product.roomImageUrl" width="17"> -->
					{{ product.factSellerProfit + ' ' + product.currencyName }}
				</div>
			</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					<img src="images/LUX-mini.svg" alt="lux" width="17">
					{{ product.currencyRate }}
				</div>
			</td>
			<td>{{ product.factUSDSold }}</td>
			<td>
				<p-tag class="w-full" [icon]="
					product.status === 'NEW'
						? 'pi pi-clock'
						: product.status === 'MODERATION'
						? 'pi pi-search'
						: product.status === 'IN_PROGRESS'
						? 'pi pi-spinner pi-spin'
						: product.status === 'COMPLETED'
						? 'pi pi-check-circle'
						: product.status === 'REJECTED'
						? 'pi pi-times-circle'
						: product.status === 'CANCELED'
						? 'pi pi-ban'
						: product.status === 'EXPIRED'
						? 'pi pi-calendar-times'
						: ''
				" [severity]="
					product.status === 'NEW'
						? 'info'
						: product.status === 'MODERATION'
						? 'warning'
						: product.status === 'IN_PROGRESS'
						? 'info'
						: product.status === 'COMPLETED'
						? 'success'
						: product.status === 'REJECTED'
						? 'danger'
						: product.status === 'CANCELED'
						? 'danger'
						: product.status === 'EXPIRED'
						? 'secondary'
						: undefined
				" [value]="
					product.status === 'NEW'
						? 'Только что созданная'
						: product.status === 'MODERATION'
						? 'Ожидает модерации'
						: product.status === 'IN_PROGRESS'
						? 'В процессе'
						: product.status === 'COMPLETED'
						? 'Завершена'
						: product.status === 'REJECTED'
						? 'Отклонена модератором'
						: product.status === 'CANCELED'
						? 'Отменена продавцом'
						: product.status === 'EXPIRED'
						? 'Истек'
						: ''
				"></p-tag>
			</td>
		</tr>
	</ng-template>
</p-table>