<div class="grid mb-3">
	<div class="col-12 lg:col-6">
		<div class="p-1 border-1 bg-white border-yellow-100 w-full flex border-round toogle-buttons">
			<button routerLink="/account/withdrawal" routerLinkActive="bg-yellow-50 text-yellow-600"
				class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">Продажи</button>
			<button routerLink="/account/deposit" routerLinkActive="bg-yellow-50 text-yellow-600"
				class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">Покупки</button>
		</div>
	</div>
	<div class="flex align-items-center col-6 lg:col-2 md:col-4">
		<p-calendar [showClear]="true" [(ngModel)]="dateFilter" (ngModelChange)="filterData()" [ngStyle]="{width: '100%'}"
			placeholder="Дата" />
	</div>
	<div class="flex align-items-center col-6 lg:col-2 md:col-4">
		<p-dropdown [showClear]="true" [(ngModel)]="statusFilter" (ngModelChange)="filterData()"
			[ngStyle]="{ width: '100%' }" [options]="getStatusFilter()" [(ngModel)]="selectStatus" optionLabel="name"
			placeholder="Статус">
		</p-dropdown>
	</div>
	<div class="flex align-items-center col-6 lg:col-2 md:col-4">
		<p-dropdown [showClear]="true" [(ngModel)]="bankFilter" (ngModelChange)="filterData()" [ngStyle]="{ width: '100%' }"
			[options]="bankData" [(ngModel)]="selectBank" optionLabel="title" placeholder="Банк">
		</p-dropdown>
	</div>
</div>

<p-table [value]="orders" [scrollable]="false" [paginator]="true" [rowsPerPageOptions]="[10, 30, 50]" [lazy]="true"
	[rows]="tablePagination.size" [totalRecords]="tablePagination.totalData"
	(onLazyLoad)="loadData ? getOrders($event) : {}" [loading]="loading">
	<ng-template pTemplate="header">
		<tr>
			<th>Дата</th>
			<th>№ заявки</th>
			<th>Получили</th>
			<th>Курс</th>
			<th>Отдали</th>
			<th>Статус</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-product>
		<tr
			[routerLink]="(product.status !== 'EXPIRED' && product.status !== 'COMPLETED') ? product.id : '/account/withdrawal'">
			<td>{{ product.createdAt }}</td>
			<td>{{ product.id }}</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					{{ product.factSellerProfit + ' ' + product.currencyName }}
				</div>
			</td>
			<td>
				<div class="flex align-items-center column-gap-1">
					{{ product.currencyRate }}
				</div>
			</td>
			<td>{{ product.factUSDSold }}</td>
			<td>
				<p-tag class="w-full" [icon]="findStatus(product.status, 'icon' )"
					[severity]="findStatus(product.status, 'severity')" [value]="findStatus(product.status, 'name')"></p-tag>
			</td>
		</tr>
	</ng-template>
</p-table>