<div class="container">
	<div class="flex align-items-center justify-content-between my-5">
		<h2 class="m-0 font-medium text-xl">Личный кабинет </h2>
		<a routerLink="/home"
			class="no-underline flex align-items-center column-gap-1 m-0 line-height-1 text-primary cursor-pointer text-sm">
			<i class="pi pi-arrow-left text-sm"></i>
			На главную
		</a>
	</div>

	<div class="p-1 border-1 border-blue-100 border-round inline-flex">
		<button routerLink="information" routerLinkActive="bg-primary-50 text-primary"
			class="border-none py-2 px-4 text-500 font-medium border-round text-sm cursor-pointer">Информация</button>
		<button routerLink="balance" routerLinkActive="bg-primary-50 text-primary"
			class="border-none py-2 px-4 text-500 font-medium border-round text-sm cursor-pointer">Балансы</button>
	</div>

	<router-outlet></router-outlet>
</div>