::ng-deep {
	.install-btn .p-button.p-button-sm {
		padding: 0.5rem 0.75rem;
	}


	.p-dropdown {
		width: 100%;
	}

	.p-calendar {
		width: 100%;
	}
}

.toogle-buttons {
	button {
		background-color: transparent;
	}
}