<div class="py-6">
	<div class="container">
		<!-- Room Section -->
		<div class="logo-container">
			<ng-container *ngFor="let item of rooms">
				<div class="logo-box" [class.active]="activeRoom.id === item.id" (click)="setActiveRoom(item)">
					<img [src]="mediaUrl + item.imageUrl" [alt]="item.title" class="logo" />
				</div>
			</ng-container>
		</div>
		<!-- Deposit and Withdraw Section -->
		<ng-container *ngIf="false">
			<div class="transaction-section">
				<button class="express-deposit-btn">
					Экспресс-{{toogleActiveButton}} в боте
					<ul class="deposit-btn__icons">
						<li><img src="images/deposid2.svg" alt="deposit icon"></li>
						<li><img src="images/deposid1.svg" alt="deposit icon"></li>
						<li><img src="images/deposid3.svg" alt="deposit icon"></li>
					</ul>
				</button>
				<button class="two__btn"
					(click)="changeToogleActiveButton(toogleActiveButton == 'вывод' ? 'депозит' : 'вывод')">{{toogleActiveButton
					==
					'вывод' ? 'депозит' : 'вывод'}}</button>
			</div>
			<!-- Balance Information -->
			<div class="balance-info">
				<b class="amount">{{activeRoom.min}} $</b>
				<b class="amount">{{activeRoom.max}} $</b>
				<b class="amount">{{toogleActiveButton == 'вывод' ? activeRoom?.express_max_deposit :
					activeRoom?.express_max_deposit}} ₽
				</b>
				<b class="time">{{activeRoom.bot?.time || '5-10 min'}}</b>
				<a target="_blank" [href]="activeRoom.bot?.link" class="go-to-bot-button _gradient">
					<img src="images/top-right.svg" alt="top right icon" width="18">
					Перейти в бот-обменник
				</a>
			</div>
		</ng-container>
		<!-- Currency Selector -->
		<div class="currency-btn flex align-items-center mb-3 mt-6 p-1 border-1 border-yellow-100 border-round">
			<ng-container *ngFor="let item of currencies">
				<button class="w-full border-round border-none font-bold text-yellow-600 cursor-pointer py-2"
					[class.bg-yellow-50]="activeCurrency === item.id" (click)="setActiveCurrency(item.id)">{{item.title}}</button>
			</ng-container>
		</div>

		<div class="card">
			<p-table [value]="orders" [paginator]="true" [rowsPerPageOptions]="[10, 30, 50]" [lazy]="true" [rows]="size"
				[totalRecords]="totalData" (onLazyLoad)="orders ? getOrders($event) : {}" [loading]="loading">
				<ng-template pTemplate="header">
					<tr class="table__head">
						<th pFrozenColumn></th>
						<th pSortableColumn="minToSellUSD"><p-sortIcon field="minToSellUSD" /> Мин.</th>
						<th pSortableColumn="wantToSellUSD"><p-sortIcon field="wantToSellUSD" />Макс.</th>
						<th pSortableColumn="currencyRate"><p-sortIcon field="currencyRate" />Курс
						</th>
						<th>
							<p-dropdown class="table-dn" [options]="banks" (onChange)="filteOrderBank()" [(ngModel)]="filterValue"
								optionLabel="title" placeholder="Банк" />
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product>
					<tr>
						<td>
							<p class="m-0 py-1 px-2 font-medium border-round surface-50 border-1 w-auto inline-block border-200">
								{{product.nickname}}</p>
						</td>
						<td>{{ product.minToSellUSD }}</td>
						<td>{{ product.wantToSellUSD }}</td>
						<td>{{ product.currencyRate }}</td>
						<td>
							<div class="flex align-content-center column-gap-1">
								<img class="bank-logo" width="16" [src]="mediaUrl + product.bankImageUrl" [alt]="product.bankName">
								<span class="bank-txt">{{product.bankName}}</span>
							</div>
						</td>
						<td style="width:220px;">
							<button [disabled]="isMine(product.id)" [routerLink]="['/account/deposit/form', product.id]" pButton
								severity="primary" class="w-full font-semibold border-0 cursor-pointer justify-content-center column-gap-1"
								size="small">
								<i class="pi pi-plus-circle"></i>
								<span>Купить {{activeRoom.title}}</span>
							</button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>