<div style="background-color: #eaeefe;" class="py-6">
	<div class="container">
		<!-- Room Section -->
		<div class="logo-container">
			<ng-container *ngFor="let item of roomData">
				<div class="logo-box" [class.active]="activeRoom.id === item.id" (click)="setActiveRoom(item)">
					<img [src]="(item.image)" [alt]="item.name" class="logo" />
				</div>
			</ng-container>
		</div>
		<!-- Deposit and Withdraw Section -->
		<ng-container *ngIf="false">
			<div class="transaction-section">
				<button class="express-deposit-btn">
					Экспресс-{{toogleActiveButton}} в боте
					<ul class="deposit-btn__icons">
						<li><img src="images/deposid2.svg" alt="deposit icon"></li>
						<li><img src="images/deposid1.svg" alt="deposit icon"></li>
						<li><img src="images/deposid3.svg" alt="deposit icon"></li>
					</ul>
				</button>
				<button class="two__btn"
					(click)="changeToogleActiveButton(toogleActiveButton == 'вывод' ? 'депозит' : 'вывод')">{{toogleActiveButton
					==
					'вывод' ? 'депозит' : 'вывод'}}</button>
			</div>
			<!-- Balance Information -->
			<div class="balance-info">
				<b class="amount">{{activeRoom.min}} $</b>
				<b class="amount">{{activeRoom.max}} $</b>
				<b class="amount">{{toogleActiveButton == 'вывод' ? activeRoom?.express_max_deposit :
					activeRoom?.express_max_deposit}} ₽
				</b>
				<b class="time">{{activeRoom.bot?.time || '5-10 min'}}</b>
				<a target="_blank" [href]="activeRoom.bot?.link" class="go-to-bot-button _gradient">
					<img src="images/top-right.svg" alt="top right icon" width="18">
					Перейти в бот-обменник
				</a>
			</div>
		</ng-container>

		<!-- Currency Selector -->
		<div class="currency-selector">
			<ng-container *ngFor="let item of activeRoom.currencies">
				<button class="currency-button" [class.active]="activeCurrency === item.title"
					(click)="setActiveCurrency(item.title)">{{item.title}}</button>
			</ng-container>
		</div>

		<div class="card">
			<p-table [value]="withdrawalData" [paginator]="true" [rows]="6">
				<ng-template pTemplate="header">
					<tr class="table__head">
						<th pFrozenColumn></th>
						<th pSortableColumn="min_deposit"><p-sortIcon field="min_deposit" /> Мин.</th>
						<th pSortableColumn="max_deposit"><p-sortIcon field="max_deposit" />Макс.</th>
						<th pSortableColumn="amount_receive_from"><p-sortIcon field="amount_receive_from" />Курс
						</th>
						<th>
							<p-dropdown class="table-dn" [options]="cities" optionLabel="name" placeholder="Банк" />
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product>
					<tr [routerLink]="['/deposit/', product.id]">
						<td>
							<p-chip>
								<img width="30" class="block flex-shrink-0" [src]="[product.user.avatar_url]"
									[alt]="product.user.first_name">
								<div class="table-user flex align-items-center column-gap-1 text-sm font-semibold">
									<span class="block border-circle p-1"
										[ngClass]="{'bg-red-600': !product.user.online, 'bg-green-600': product.user.online}">
									</span>
									<span class="table-user__txt">{{product.user.username? product.user.username: product.user.first_name
										+ product.user.last_name}}</span>
									<img src="images/ok.svg" alt="ok" class="m-0 ml-2 block" style="width: 20px;">
									{{product.user.success_request}}
								</div>
							</p-chip>
						</td>
						<td>{{ product.min_deposit }}</td>
						<td>{{ product.max_deposit }}</td>
						<td>{{ product.amount_receive_from }}</td>
						<td>
							<div class="flex align-content-center column-gap-1">
								<img class="bank-logo" width="16" [src]="product.bank.image_url" [alt]="product.bank.name">
								<span class="bank-txt">{{product.bank.name}}</span>
							</div>
						</td>
						<td style="min-width: 220px;">
							<button pButton
								class="w-full text-blue-600 font-semibold bg-primary-100 hover:bg-primary-200 border-0 justify-content-center column-gap-1"
								size="small">
								<i class="pi pi-plus-circle"></i>
								<span>Купить ПокерОК</span>
							</button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>

		<!-- <div class="transaction-table">
			<div class="row-grid table-header">
				<div class="column"></div>
				<div class="column"></div>
				<div class="column">
					<img src="images/sort-icon.svg" alt="sort" width="16">
					<span class="text">Мин.</span>
				</div>
				<div class="column">
					<img src="images/sort-icon.svg" alt="sort" width="16">
					<span class="text">Макс.</span>
				</div>
				<div class="column">
					<img src="images/sort-icon.svg" alt="sort" width="16">
					<span class="text">Курс</span>
				</div>
				<div class="column">
					<span class="text">Банк</span>
					<img src="images/select-arrow.svg" alt="select-arrow" width="8" class="select-arrow">
				</div>
				<div class="column"></div>
			</div>
			<ng-container *ngFor="let item of withdrawalData">
				<div class="row-grid table-row">
					<img [src]="item.user.avatar_url" width="35" alt="user" class="user-img">
					<div class="user">
						<div class="user-id">
							<span class="up"></span>
							<span class="value">{{item.id}}</span>
						</div>
						<div class="user-frends">
							<img src="images/ok.svg" alt="friends" width="21">
							<span class="value">{{item.user.success_request}}</span>
						</div>
					</div>
					<div class="row-value">
						<span class="value">{{item.min_deposit}}</span>
					</div>
					<div class="row-value">
						<span class="value">{{item.max_deposit}}</span>
					</div>
					<div class="row-value">
						<span class="value">{{item.amount_commission}}</span>
					</div>
					<div class="row-value">
						<div class="bank">
							<img [src]="item.bank.image_url" alt="bank" width="19">
							<span class="value">{{item.bank.name}}</span>
						</div>
					</div>
					<div class="row-value">
						<button [routerLink]="['/deposit']" class="row__btn">
							<img src="images/plus.svg" alt="plus" width="19">
							Купить {{activeRoom.name}}
						</button>
					</div>
				</div>
			</ng-container>
		</div> -->
	</div>
</div>