.content {
	padding-top: 30px;
	padding-bottom: 67px;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 15px;

	.logo-box {
		width: 100%;
		max-width: 150px;
		cursor: pointer;
		opacity: .3;

		img {
			display: block;
			width: 100%;
			height: fit-content;
			aspect-ratio: 3/1;
			object-fit: fill;
		}

		&:hover {
			opacity: 1;
		}

		&.active {
			opacity: 1;
		}
	}
}

.transaction-section {
	display: flex;
	align-items: flex-end;
	margin-top: 50px;

	.two__btn {
		padding: 0 20px 0 35px;
		border-radius: 0 15px 0 0;
		height: 40px;
		font-size: 14px;
		font-weight: 600;
		line-height: 14px;
		color: #848484;
		background: #FFFFFF;
		margin-left: -16px;
		cursor: pointer;
		border: none;
	}
}

.express-deposit-btn {
	position: relative;
	z-index: 2;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(246deg, #21A038 -7.4%, #307BF6 76.4%);
	display: flex;
	align-items: center;
	column-gap: 20px;
	padding: 0 20px;
	height: 46px;
	border: none;
	color: white;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;

	.deposit-btn__icons {
		list-style: none;
		display: flex;
		align-items: center;
		column-gap: 4px;
	}
}

.deposit-btn__icons {
	li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		padding: 4px;
		background-color: white;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.currency-btn {
	button {
		background-color: transparent;
	}
}

::ng-deep {
	.p-dropdown .p-dropdown-label {
		padding: 0;
	}

	.p-overlay {
		width: fit-content;
		left: auto;
		right: 0 !important;
	}

	.p-datatable .p-sortable-column .p-sortable-column-icon {
		margin: 0;
	}

	@media (max-width:991px) {

		.p-datatable .p-datatable-tbody>tr>td,
		.p-datatable .p-datatable-thead>tr>th {
			&:last-child {
				display: none !important;
			}
		}
	}

	.p-dropdown {
		border: 0;
		background-color: transparent;

		&:focus {
			box-shadow: none;
		}

		.p-dropdown-label {
			width: fit-content;
			flex: none;
		}
	}

	@media (max-width: 768px) {
		.p-dropdown {
			min-width: auto;
			width: fit-content;
		}

		.p-chip {
			flex-direction: column;
			background-color: transparent;
			padding: 0;

			img {
				margin: 0;
			}
		}

		.table-user {
			background-color: #ecf6ff;
			border-radius: 10px;
			padding-inline: 10px;
			position: absolute;
			bottom: 10px;
			right: 16px;
		}

		.p-datatable .p-datatable-tbody>tr>td {
			padding-bottom: 40px;
		}

		.p-datatable .p-datatable-tbody>tr {
			position: relative;
		}
	}

	@media (max-width: 490px) {
		.bank-txt {
			display: none;
		}

		.bank-logo {
			width: 20px;
			margin: 0 auto;
		}

		.p-dropdown .p-dropdown-trigger {
			width: fit-content;
		}

		.p-dropdown .p-dropdown-label {
			padding: 0;
			margin-right: 4px;
			font-size: 14px;
		}

		.p-datatable .p-datatable-thead>tr>th {
			font-size: 14px;
		}
	}

	@media (max-width:420px) {
		.p-datatable .p-datatable-thead>tr>th {
			padding: 10px 5px;
		}

		.p-datatable .p-datatable-tbody>tr>td {
			font-size: 12px;
			padding: 5px 5px 25px 5px;
			font-weight: 600;
		}

		.p-chip img {
			width: 25px;
			margin: 0 !important;
		}

		.table-user {
			bottom: 7px;
			font-size: 12px !important;
			height: 25px;
		}

		.bank-logo {
			width: 15px;
		}

		.p-chip img {
			margin-left: 10px !important;
		}
	}
}

@media (max-width: 768px) {
	.logo-container {
		overflow-x: scroll;

		.logo-box {
			flex-shrink: 0;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}