<div class="container">

	<div class="flex align-items-center justify-content-between my-5">
		<h2 class="m-0 font-medium text-xl">Заявка на продажу {{walletTitle}}</h2>
		<a routerLink="/home"
			class="no-underline flex align-items-center column-gap-1 m-0 line-height-1 text-primary cursor-pointer text-sm">
			<i class="pi pi-arrow-left text-sm"></i> Вернуться назад</a>
	</div>

	<div class="grid">
		<div class="col-12 lg:col-6">
			<div class="p-1 border-1 border-blue-100 w-full flex border-round toogle-buttons">
				<button [ngClass]="{'bg-primary-50 text-primary': balanceOrAccount}" (click)="balanceToogle()"
					class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">С аккаунта
					{{walletTitle}}</button>
				<button [ngClass]="{'bg-primary-50 text-primary': !balanceOrAccount}" (click)="balanceToogle()"
					class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">С баланса
					НашГарант</button>
			</div>
			<div class="my-4">
				<label class="font-medium text-sm text-500 mb-2 block">Выберите рум / кошелек и валюту:*</label>
				<div class="flex w-full align-items-center column-gap-2">
					<p-dropdown (onChange)="changeWallet()" [ngStyle]="{width: '100%'}" [options]="wallet"
						[(ngModel)]="selectWallet" optionLabel="name" placeholder="Select a wallet" />
					<p-dropdown [options]="curs" class="curs" [(ngModel)]="selectCurs" optionLabel="title"
						placeholder="Select a wallet" [ngStyle]="{width: '100px'}" />
				</div>
			</div>
			<div class="p-3 border-round flex align-items-center column-gap-1 bg-primary-50">
				<i class="pi pi-sync text-primary"></i>
				<p class="m-0 text-primary">Комиссия сервиса за продажу: {{selectWallet.commission_percent}}% + 2$</p>
			</div>
			<div class="my-4">
				<label class="font-medium text-sm text-500 mb-2 block">Сколько {{selectWallet.currency.code}} хотите продать:*
				</label>
				<p-inputGroup class="mb-3">
					<input type="number" #maxInp [(ngModel)]="maxInp" pInputText mode="decimal"
						[placeholder]="'От ' + selectWallet.min + ' ' + selectWallet.currency.code + ' до ' + selectWallet.max + ' ' + selectWallet.currency.code"
						required (ngModelChange)="calculateCurs(maxInp)" />
					<button type="button" pButton class="flex-shrink-0 bg-primary text-sm py-1 px-2" #maxFixBtn
						(click)="maxValu(maxInp, maxFixBtn)">Максимум</button>
				</p-inputGroup>
			</div>
			<div class="mb-4">
				<label class="font-medium text-sm text-500 mb-2 block">Минимальная доля в {{selectWallet.currency.code}} для
					покупки:*
				</label>
				<p-inputGroup>
					<input pInputText type="number" disabled
						[placeholder]="'От ' + selectWallet.min + ' ' + selectWallet.currency.code" />
					<p-inputGroupAddon
						[pTooltip]="'Минимальная часть заявки, которую можно приобрести за одну сделку. Рекомендуем от ' + selectWallet.min + selectWallet.currency.title + ' до ' + selectWallet.max + selectWallet.currency.title + ', чтобы быстрее выкупили'"
						tooltipPosition="bottom">
						<i class="pi pi-question-circle"></i>
					</p-inputGroupAddon>
				</p-inputGroup>
			</div>
			<p-inputGroup>
				<input pInputText type="number" [value]="selectCurs.rate_usd" placeholder="Курс" />
				<p-inputGroupAddon
					[pTooltip]="'Курс продажи за' + selectWallet.currency.rate_usd + selectWallet.currency.title + '. Чем ниже курс, тем быстрее выкупят заявку'"
					tooltipPosition="bottom">
					<i class="pi pi-question-circle"></i>
				</p-inputGroupAddon>
			</p-inputGroup>
		</div>
		<div class="col-12 lg:col-6">
			<form class="p-3 md:p-4 border-round bg-primary-500">
				<label class="font-medium text-sm text-white mb-2 block">Реквизиты для перевода:* </label>
				<div class="mb-4 flex md:flex-row flex-column align-items-center column-gap-2">
					<p-dropdown [options]="bankDetails" optionLabel="name" class="w-full md:w-15rem">
						<ng-template pTemplate="selectedItem" let-selectedOption>
							<div class="flex align-items-center gap-2">
								<img [src]="selectedOption.image_url" [class]="'flag flag-' + selectedBank.name.toLowerCase()"
									style="width: 18px; height:18px;" />
								<div>{{ selectedOption.name }}</div>
							</div>
						</ng-template>
						<ng-template let-country pTemplate="item">
							<div class="flex align-items-center gap-2">
								<img [src]="country.image_url" [class]="'flag flag-' + selectedBank.name.toLowerCase()"
									style="width: 18px; height:18px;" />
								<div>{{ country.name }}</div>
							</div>
						</ng-template>
					</p-dropdown>
					<p-inputMask [ngStyle]="{width: '100%'}" mask="9999 9999 9999 9999" variant="filled"
						placeholder="0000 0000 0000 0000" />
				</div>
				<div>
					<label class="font-medium text-sm text-white mb-2 block">Банк для отправки перевода по СБП:* </label>
					<p-dropdown [options]="banks" optionLabel="name" class="w-full md:w-15rem" />
				</div>
				<div class="my-4">
					<label class="font-medium text-sm text-white mb-2 block">ФИО получателя:* </label>
					<p-inputGroup>
						<input pInputText placeholder="Иванов Иван Иванович" />
						<p-inputGroupAddon
							pTooltip="Это позволит идентифицировать получателя и убедиться, что деньги поступят именно вам"
							tooltipPosition="bottom">
							<i class="pi pi-question-circle"></i>
						</p-inputGroupAddon>
					</p-inputGroup>
				</div>
				<div class="my-4">
					<label class="font-medium text-sm text-white mb-2 block">Дополнительная информация для покупателей: </label>
					<p-inputGroup>
						<input pInputText placeholder="Укажите любую важную информацию" />
						<p-inputGroupAddon pTooltip="Время, когда вы онлайн, особенности счёта, предпочитаемый банк и другие детали"
							tooltipPosition="bottom">
							<i class="pi pi-question-circle"></i>
						</p-inputGroupAddon>
					</p-inputGroup>
				</div>
				<div class="my-4 p-2 border-1 border-white border-round flex align-items-center column-gap-2">
					<i class="pi pi-credit-card text-base text-white"></i>
					<b class="font-semibold text-sm text-white">Вы получите: {{calcCurs}} RUB</b>
				</div>
				<button type="submit" pButton size="small" severity="success" icon="pi font-semibold pi-check-circle"
					class="w-full justify-content-center column-gap-1">Подать
					заявку на покупку</button>
				<div class="flex align-items-start column-gap-2 mt-3">
					<p-checkbox [binary]="true" inputId="binary" />
					<label for="binary" class="text-xs text-white font-light">
						Подавая заявку, вы принимаете условия <a class="text-white font-medium" href="#">лицензионного договора</a>,
						а также
						соглашаетесь с <a class="text-white font-medium" href="#">политикой
							конфиденциальности</a> и <a class="text-white font-medium" href="#">политикой AML / KYC</a>
					</label>
				</div>
			</form>
		</div>
	</div>
</div>