<div class="container">

	<div class="flex align-items-center justify-content-between my-5">
		<h2 class="m-0 font-medium text-xl">Заявка на продажу {{walletTitle}}</h2>
		<a routerLink="/home"
			class="no-underline flex align-items-center column-gap-1 m-0 line-height-1 text-primary cursor-pointer text-sm">
			<i class="pi pi-arrow-left text-sm"></i> Вернуться назад</a>
	</div>

	<div class="grid">
		<div class="col-12 lg:col-6">
			<div class="p-1 border-1 border-blue-100 w-full flex border-round">
				<button [ngClass]="{'bg-primary-50 text-primary': balanceOrAccount}" (click)="balanceToogle()"
					class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">С аккаунта
					{{walletTitle}}</button>
				<button [ngClass]="{'bg-primary-50 text-primary': !balanceOrAccount}" (click)="balanceToogle()"
					class="border-none py-2 px-4 text-500 w-full font-medium border-round text-sm cursor-pointer">С баланса
					НашГарант</button>
			</div>
			<div class="my-4">
				<label class="font-medium text-sm text-600 mb-2 block">Выберите рум / кошелек и валюту:*</label>
				<div class="flex w-full align-items-center column-gap-2">
					<p-dropdown (onChange)="changeWallet()" [options]="wallet" [(ngModel)]="selectWallet" optionLabel="name"
						placeholder="Select a wallet" />
					<p-dropdown [options]="curs" class="curs" [(ngModel)]="selectCurs" [ngStyle]="{'width': 'fit-content'}"
						optionLabel="title" placeholder="Select a wallet" />
				</div>
			</div>
			<div class="p-3 border-round flex align-items-center column-gap-1 bg-primary-50">
				<i class="pi pi-sync text-primary"></i>
				<p class="m-0 text-primary">Комиссия сервиса за продажу: {{selectWallet.commission_percent}}% + 2$</p>
			</div>
			<div class="my-4">
				<label class="font-medium text-sm text-600 mb-2 block">Сколько {{selectWallet.currency.code}} хотите продать:*
				</label>
				<p-inputGroup class="mb-3">
					<input type="number" #maxInp pInputText mode="decimal"
						[placeholder]="'От ' + selectWallet.min + ' ' + selectWallet.currency.code + ' до ' + selectWallet.max + ' ' + selectWallet.currency.code"
						required />
					<button type="button" pButton class="flex-shrink-0 bg-primary text-sm py-1 px-2" #maxFixBtn
						(click)="maxValu(maxInp, maxFixBtn)">Максимум</button>
				</p-inputGroup>
			</div>
			<div class="mb-4">
				<label class="font-medium text-sm text-600 mb-2 block">Минимальная доля в {{selectWallet.currency.code}} для
					покупки:* </label>
				<input type="number" [value]="selectCurs.rate_usd" pInputText mode="decimal"
					[placeholder]="'От ' + selectWallet.min + ' ' + selectWallet.currency.code" required />
			</div>
		</div>
	</div>
</div>