button {
	background-color: transparent;
}

p-dropdown {
	width: 100%;
}

::ng-deep .p-dropdown {
	width: 100%;
	min-width: 100px;

	.p-dropdown-trigger {
		width: fit-content;
		padding-inline: 10px;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}