<h3 class="font-bold m-0 text-xl text-700">Заявка на продажу Luxon
	<p-tag icon="pi pi-times-circle" severity="danger" value="Отменена" />
	<p-tag icon="pi pi-check-circle" severity="success" value="Выполнена" />
</h3>
<div class="grid my-3">
	<div class="col-12 lg:col-4">
		<div class="grid">
			<div class="col-6">
				<p class="text-500 text-sm m-0 mb-1">Продали</p>
				<h4 class="m-0 font-bold text-700">0 USD</h4>
			</div>
			<div class="col-6">
				<p class="text-500 text-sm m-0 mb-1">Получили</p>
				<h4 class="m-0 font-bold text-700">0.00 RUB </h4>
			</div>
		</div>
	</div>
	<div class="col-12 lg:col-4 sm:col-6">
		<p class="m-0 mb-2 text-sm text-500">№ заявки: <span class="text-700">R542729 15.11.24, 20:26</span></p>
		<p class="m-0 mb-2 text-sm text-500">Рум / кошелек: <span class="text-700">Luxon</span></p>
		<p class="m-0 mb-2 text-sm text-500">Аккаунт: <span class="text-700">asereio&#64;gmail.com</span></p>
		<p class="m-0 mb-2 text-sm text-500">Комиссия сервиса: <span class="text-700">152.00 USD</span></p>
		<p class="m-0 mb-2 text-sm text-500">Курс и валюта: <span class="text-700">101.99 RUB
			</span></p>
	</div>
	<div class="col-12 lg:col-4 sm:col-6">
		<p class="m-0 mb-2 text-sm text-500">Сумма: <span class="text-700">kjkfdj938948</span></p>
		<p class="m-0 mb-2 text-sm text-500">Банк: <span class="text-700">Luxon</span></p>
		<p class="m-0 mb-2 text-sm text-500">Счет: <span class="text-700">sjdksj398938</span></p>
		<p class="m-0 mb-2 text-sm text-500">ФИО: <span class="text-700">152.00 USD</span></p>
	</div>
</div>
<div class="my-8"></div>

<h3 class="font-bold m-0 text-xl text-700">Заявка на продажу Luxon <p-tag icon="pi pi-bolt" severity="warning"
		value="в процессе" /></h3>
<div class="grid my-3">
	<div class="col-12 lg:col-4">
		<div class="grid">
			<div class="col-6">
				<p class="text-500 text-sm m-0 mb-1">Продали</p>
				<h4 class="m-0 font-bold text-700">0 USD</h4>
			</div>
			<div class="col-6">
				<p class="text-500 text-sm m-0 mb-1">Получили</p>
				<h4 class="m-0 font-bold text-700">0.00 RUB </h4>
			</div>
			<div class="col-6"></div>
		</div>
		<div class="flex flex-column lg:flex-column sm:flex-row gap-2 mb-3">
			<button type="button" pButton class="w-full column-gap-2 align-items-center justify-content-center">
				<i class="pi pi-file-edit"></i>
				изменение доли
			</button>
			<button type="button" pButton severity="danger"
				class=" w-full column-gap-2 align-items-center justify-content-center">
				<i class="pi pi-times-circle"></i>
				отменить заявку
			</button>
		</div>
	</div>
	<div class="col-12 lg:col-4 sm:col-6">
		<p class="m-0 mb-2 text-sm text-500">№ заявки: <span class="text-700">R542729 15.11.24, 20:26</span></p>
		<p class="m-0 mb-2 text-sm text-500">Рум / кошелек: <span class="text-700">Luxon</span></p>
		<p class="m-0 mb-2 text-sm text-500">Аккаунт: <span class="text-700">asereio&#64;gmail.com</span></p>
		<p class="m-0 mb-2 text-sm text-500">Комиссия сервиса: <span class="text-700">152.00 USD</span></p>
		<p class="m-0 mb-2 text-sm text-500">Курс и валюта: <span class="text-700">101.99 RUB
			</span></p>
	</div>
	<div class="col-12 lg:col-4 sm:col-6">
		<p class="m-0 mb-2 text-sm text-500">Сумма: <span class="text-700">kjkfdj938948</span></p>
		<p class="m-0 mb-2 text-sm text-500">Банк: <span class="text-700">Luxon</span></p>
		<p class="m-0 mb-2 text-sm text-500">Счет: <span class="text-700">sjdksj398938</span></p>
		<p class="m-0 mb-2 text-sm text-500">ФИО: <span class="text-700">152.00 USD</span></p>
	</div>
</div>
<div class="my-8"></div>

<h3 class="font-bold m-0 text-xl text-700">Заявка на продажу Luxon <p-tag icon="pi pi-bolt" value="Модерация" />
</h3>
<div class="grid mt-3">
	<div class="col-12 lg:col-4">
		<h3 class="m-0 font-bold mb-1 text-700">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
		<h3 class="m-0 mb-1 font-normal text-700">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
		<button type="button" pButton size="small"
			class="bg-primary-100 border-none text-primary text-base column-gap-2 w-full justify-content-center mt-2">
			<i class="pi pi-arrow-up-right"></i>
			На главную
		</button>
	</div>
	<div class="col-12 lg:col-4 sm:col-6">
		<p class="m-0 mb-2 text-sm text-500">№ заявки: <span class="text-700">R542729 15.11.24, 20:26</span></p>
		<p class="m-0 mb-2 text-sm text-500">Рум / кошелек: <span class="text-700">Luxon</span></p>
		<p class="m-0 mb-2 text-sm text-500">Аккаунт: <span class="text-700">asereio&#64;gmail.com</span></p>
		<p class="m-0 mb-2 text-sm text-500">Комиссия сервиса: <span class="text-700">152.00 USD</span></p>
		<p class="m-0 mb-2 text-sm text-500">Курс и валюта: <span class="text-700">101.99 RUB
			</span></p>
	</div>
	<div class="col-12 lg:col-4 sm:col-6">
		<p class="m-0 mb-2 text-sm text-500">Сумма: <span class="text-700">kjkfdj938948</span></p>
		<p class="m-0 mb-2 text-sm text-500">Банк: <span class="text-700">Luxon</span></p>
		<p class="m-0 mb-2 text-sm text-500">Счет: <span class="text-700">sjdksj398938</span></p>
		<p class="m-0 mb-2 text-sm text-500">ФИО: <span class="text-700">152.00 USD</span></p>
	</div>
</div>

<div class="my-8"></div>
<h3 class="font-bold m-0 text-xl text-700">Встречные заявки</h3>
<div class="grid mt-3">
	<div class="col-12 lg:col-6">
		<p-accordion class="w-full" [activeIndex]="0" expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up">
			<p-accordionTab iconPos="end">
				<ng-template pTemplate="header">
					<div class="flex align-items-center column-gap-3">
						<div class="p-2 border-round text-sm text-primary font-medium bg-primary-100">
							<i class="pi text-sm pi-stopwatch"></i>
							02:23
						</div>
						<div>
							<b class="font-medium block text-xs text-500">№ отклика:</b>
							<b class="font-medium text-sm text-700">39439489</b>
						</div>
						<div>
							<b class="font-medium block text-xs text-500">Сумма:</b>
							<b class="font-medium text-sm text-700">1023 RUB</b>
						</div>
					</div>
				</ng-template>
				<div class="p-2 border-round mb-3 inline-flex column-gap-1 text-sm text-primary font-medium bg-primary-100">
					<i class="pi text-sm pi-stopwatch"></i>
					Примите новую заявку
				</div>
				<h4 class="m-0 mb-2 text-700 text-lg">Lorem ipsum dolor sit amet.</h4>
				<h3 class="m-0 mb-2 font-medium text-700">Lorem ipsum dolor sit amet.</h3>
				<div class="flex column-gap-2 mt-3">
					<button severity="danger" size="small" type="button"
						class="flex align-items-center column-gap-2 w-full justify-content-center" size="small" pButton>
						<i class="pi pi-times-circle"></i>
						Отмена
					</button>
					<button type="button" severity="success"
						class="flex align-items-center column-gap-2 w-full justify-content-center" size="small" pButton>
						<i class="pi pi-check-circle"></i>
						принять
					</button>
				</div>
			</p-accordionTab>
		</p-accordion>
	</div>
	<div class="col-12 lg:col-6">
		<p-accordion class="w-full" [activeIndex]="0" expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up">
			<p-accordionTab iconPos="end">
				<ng-template pTemplate="header">
					<div class="flex align-items-center h-2rem column-gap-3">
						<div>
							<b class="font-medium block text-xs text-500">№ отклика:</b>
							<b class="font-medium text-sm text-700">39439489</b>
						</div>
						<div>
							<b class="font-medium block text-xs text-500">Сумма:</b>
							<b class="font-medium text-sm text-700">1023 RUB</b>
						</div>
					</div>
				</ng-template>
				<div class="p-2 border-round mb-3 inline-flex column-gap-1 text-sm font-medium bg-gray-100 text-gray-500">
					<i class="pi text-sm pi-send"></i>
					Ожидайте оплаты от покупателя
				</div>
				<div class="grid mb">
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">№ отклика</p>
						<b class="m-0 text-700">23232-0-02020932</b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">ФИО</p>
						<b class="m-0 text-700">Muslim Shodiyev</b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">Сумма:</p>
						<b class="m-0 text-700">232 203 RUB <span class="font-light text-500">(200 USD)</span></b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">Счет отправителя </p>
						<b class="m-0 text-700">0930cxoc0w90</b>
					</div>
				</div>
				<button severity="danger" size="small" type="button"
					class="flex align-items-center column-gap-2 w-full justify-content-center" size="small" pButton>
					<i class="pi pi-exclamation-triangle"></i>
					Жаловаться на покупателя
				</button>
			</p-accordionTab>
		</p-accordion>
	</div>
	<div class="col-12 lg:col-6">
		<p-accordion class="w-full" [activeIndex]="0" expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up">
			<p-accordionTab iconPos="end">
				<ng-template pTemplate="header">
					<div class="flex align-items-center h-2rem column-gap-3">
						<div>
							<b class="font-medium block text-xs text-500">№ отклика:</b>
							<b class="font-medium text-sm text-700">39439489</b>
						</div>
						<div>
							<b class="font-medium block text-xs text-500">Сумма:</b>
							<b class="font-medium text-sm text-700">1023 RUB</b>
						</div>
						<div>
							<b class="font-medium block text-xs text-500">Счет:</b>
							<b class="font-medium text-sm text-700">3403490</b>
						</div>
					</div>
				</ng-template>
				<div class="p-2 border-round mb-3 inline-flex column-gap-1 text-sm font-medium bg-yellow-200 text-700">
					<i class="pi text-sm pi-stopwatch"></i>
					Ожидайте оплаты от покупателя
				</div>
				<div class="grid mb">
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">№ отклика</p>
						<b class="m-0 text-700">23232-0-02020932</b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">ФИО</p>
						<b class="m-0 text-700">Muslim Shodiyev</b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">Сумма:</p>
						<b class="m-0 text-700">232 203 RUB <span class="font-light text-500">(200 USD)</span></b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">Счет отправителя </p>
						<b class="m-0 text-700">0930cxoc0w90</b>
					</div>
				</div>
				<div class="flex column-gap-2">
					<button severity="danger" size="small" type="button"
						class="flex align-items-center column-gap-2 w-1 justify-content-center" size="small" pButton>
						<i class="pi pi-exclamation-triangle"></i>
					</button>
					<button type="button" (click)="showDialog()" severity="success" pButton
						class="flex align-items-center column-gap-2 w-full justify-content-center" size="small">
						<i class="pi pi-check-circle"></i>
						Подтвердить получение
					</button>
				</div>
			</p-accordionTab>
		</p-accordion>
	</div>
	<div class="col-12 lg:col-6">
		<p-accordion class="w-full" [activeIndex]="0" expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up">
			<p-accordionTab iconPos="end">
				<ng-template pTemplate="header">
					<div class="flex align-items-center h-2rem column-gap-3">
						<div>
							<b class="font-medium block text-xs text-500">№ отклика:</b>
							<b class="font-medium text-sm text-700">39439489</b>
						</div>
						<div>
							<b class="font-medium block text-xs text-500">Сумма:</b>
							<b class="font-medium text-sm text-700">1023 RUB</b>
						</div>
						<div>
							<b class="font-medium block text-xs text-500">Счет:</b>
							<b class="font-medium text-sm text-700">3403490</b>
						</div>
					</div>
				</ng-template>
				<div class="p-2 border-round mb-3 inline-flex column-gap-1 text-sm font-medium bg-primary text-700">
					<i class="pi text-sm pi-bolt"></i>
					Заявка на оплате у модератора
				</div>
				<div class="grid mb">
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">№ отклика</p>
						<b class="m-0 text-700">23232-0-02020932</b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">ФИО</p>
						<b class="m-0 text-700">Muslim Shodiyev</b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">Сумма:</p>
						<b class="m-0 text-700">232 203 RUB <span class="font-light text-500">(200 USD)</span></b>
					</div>
					<div class="col-12 sm:col-6">
						<p class="m-0 mb-1 text-500">Счет отправителя </p>
						<b class="m-0 text-700">0930cxoc0w90</b>
					</div>
				</div>
			</p-accordionTab>
		</p-accordion>
	</div>
</div>

<p-dialog header="Подтверждение операции" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
	<h4>Вы подтверждаете, что получили верную сумму и реквизиты контрагента совпадают с указанными в заявке?</h4>

	<div class="flex column-gap-2">
		<button type="button" pButton severity="danger" (click)="visible = false"
			class="w-full justify-content-center column-gap-2">
			<i class="pi pi-check-circle"></i>
			Нет</button>
		<button type="button" pButton severity="success" (click)="visible = false"
			class="w-full justify-content-center column-gap-2">
			<i class="pi pi-check-circle"></i>
			Да</button>
	</div>
</p-dialog>